[2015-10-27 13:01] miguelpiza93 opened #2 "Can't obtain updateLastError method for class com.sun.jna.Native"
Trying to connect tfs' repository

Can't obtain updateLastError method for class com.sun.jna.Native
java.lang.UnsatisfiedLinkError: Can't obtain updateLastError method for class com.sun.jna.Native
	at com.sun.jna.Native.initIDs(Native Method)
	at com.sun.jna.Native.<clinit>(Native.java:139)
	at com.sun.jna.Pointer.<clinit>(Pointer.java:41)
	at com.sun.jna.PointerType.<init>(PointerType.java:25)
	a

[2015-10-27 13:39] leantk commented on #2
What version of Windows and IntelliJ are you using? I'm going to try and reproduce the error on our end.

[2015-10-27 13:40] leantk commented on #2
And what version of Java are you using as well?

[2015-10-27 14:11] miguelpiza93 commented on #2
I'm working with Windows 7 x64, Android Studio 1.4. I'm using Java 1.7 because it's required for compile sdk version 23.

[2015-10-27 15:14] leantk commented on #2
I'm still trying to reproduce your scenario but as I work on that, maybe you could try one thing for me if you don't mind. I found some similar issues where the same JNA exception was being thrown and it looks like it might be a JNA version issue. Can you try passing the argument described in this solution please: https://github.com/java-native-access/jna/issues/281

[2015-10-27 16:11] miguelpiza93 commented on #2
I'm working on java-native-access/jna#281 but not yet successful

[2015-10-27 21:17] leantk commented on #2
Are you building the plugin using gradle or did you install the plugin through the Android Studio repo?

Also all signs at the moment seem to be pointing to the wrong jna version being picked up. I found a solution that I think will work but I'm still trying to recreate the error first before I have you try something that might not actually fix your problem.

[2015-10-27 22:00] miguelpiza93 commented on #2
I installed plugin through the Android Studio repo.

A few minutes ago, I downloaded IntelliJ Community Edition version 14 (but I need work in Android Studio), and I installed plugin through the repo and work. I set credentials but don't load repositories, the error message is "Lookup operation was canceled by the user", and I refresh but the same message appears.

If I can send more information a

[2015-10-28 13:00] leantk commented on #2
Thanks for the information. Let me ask you a few more questions so I understand correctly. For the IntelliJ problem, you got further with the plugin than you did in Android Studio correct? In both scenarios, were you trying to Checkout a project from VSO/TFS? You were able to sign in with IntelliJ but then saw the error you mentioned but in Android Studio you didn't even get to sign in right? Are

[2015-10-28 13:14] miguelpiza93 commented on #2
Yes, in both scenarios I'm trying to Checkout a project from VSO/TFS, and you are right, I'm able to sign in with IntelliJ but then see the other error. In Android Studio you didn't even get to sign in. And I'm  using TFS.

[2015-10-28 15:34] leantk commented on #2
I still can't reproduce the Android jna issue but it looks like you can set your own vmoptions if you create a local vmoptions file. Do you already have a local vmoptions file? It would be in the directory <Users>\.<Android Studio version>\ and named studio.exe.vmoptions or studio64.exe.vmoptions. More details on that file are here if my instructions are unclear: http://tools.android.com/tech-docs

[2015-10-28 15:51] miguelpiza93 commented on #2
I created two files, studio.exe.vmoptions and studio64.exe.vmoptions, in path specified in http://tools.android.com/tech-docs/configuration but still the plugin don't work

[2015-10-28 16:52] leantk commented on #2
Ok thanks for trying. I'm going to focus on reproducing the error some more instead of bothering you with solutions that may not work. Can you give me the specific Java 7 version you are using and Android Studio release (i.e. jdk1.7.0_x, and 141.xxxxx). Maybe there is something in a specific version that I'm missing.

As for the IntelliJ error. Does it consistently reproduce? You can never see you

[2015-10-28 17:40] leantk commented on #2
And one more thing, could you please paste the contents of this file: <Where you installed Android Studio>\Android Studio\bin\studio64.exe.vmoptions (i.e. C:\Program Files\Android\Android Studio\bin\studio64.exe.vmoptions)

[2015-10-28 18:34] miguelpiza93 commented on #2
As for IntelliJ error, I've never seen repos. And Only difference betwen Android Studio and Intellij is jdk for Intellij is jre1.8.0_51

I'm using jdk1.7.0_72 and Android Studio 141.2288178

The studio64.exe.vmoptions file's content is

#
# *DO NOT* modify this file directly. If there is a value that you would like to override,
# please add it to your user specific configuration file.
#
# See http

[2015-10-28 19:51] leantk commented on #2
Miguel I sent you an email at a hotmail account I saw associated with you. I hope you don't mind. I was thinking I could send you a debug version of the plugin to help pinpoint the issue. Just let me know if that works for you. Thanks!

[2015-11-07 02:51] James-Parsons opened #4 "Work Item and Build Support"
It would be nice to be able to wok with work items and builds in Intellij based IDE's.

[2015-11-09 19:13] madhurig commented on #4
@James-Parsons: Thanks for the feedback. We are looking into some workflows around work item and build integration in the IDE. Could you please share with us what you would consider high priority for your daily work to be inside the IDE vs going to the browser?

Thanks,
Madhuri

[2015-11-12 17:01] madhurig commented on #2
We have a fix for the JNA issue in a new version 0.91.1 of the plugin: https://plugins.jetbrains.com/plugin/7981?pr=idea. There is no support for TFS 2013 with this plugin yet. Please consider creating a suggestion on user voice: https://visualstudio.uservoice.com/forums/121579-visual-studio-2015/category/30925-team-foundation-server-visual-studio-online

[2015-11-12 17:01] #2 closed

[2015-11-13 20:02] #4 closed

[2016-01-21 15:59] net2h opened #8 "Problem connecting to microsoft account when checkout VCS"
When checkout from version control i login microsoft account and get Unable to connect to the IDE. Please restart the IDE and retry authentication. No way to pass...
!
[capture](https://cloud.githubusercontent.com/assets/16607640/12485832/442ddbc8-c060-11e5-9534-fc2219e09c90.PNG)

Worked perfectly on Linux on same plugin version / IDE

Platform : windows 7 : php storm 10.0.3

[2016-01-21 16:39] yacaovsnc commented on #8
We are using this library to authenticate:
https://github.com/MSOpenTech/azure-activedirectory-interactive-auth-library-for-java/blob/master/src/ad-interactive-auth/src/com/microsoftopentechnologies/adinteractiveauth/Program.java

It seems you hit the error on line 153.  That happens when the local webserver (https://github.com/MSOpenTech/azure-activedirectory-interactive-auth-library-for-java/blo

[2016-01-21 17:11] net2h commented on #8
I restarted several times the software even Windows but no changes.

Nicolas

[2016-01-22 16:00] yacaovsnc commented on #8
@net2h hi Nico, is your windows firewall on?  If so, could you please turn it off for a brief period and try again?  I want to see if there is any rules blocking the webserver from binding to a local port.

Thanks a lot!

[2016-02-06 09:17] net2h commented on #8
@yacaovsnc No firewall on, i ended by pushing externaly, i hope new version will solve this...

[2016-02-08 16:06] ycao233 commented on #8
@net2h sorry about the trouble.  We do have another implementation of the auth flow in the works that should solve the issue you are facing.  However currently it's still a work in progress.  We will definitely try to make it work soon.

What version of Java are you running phpStorm on?  The new Auth flow works with Java 1.7+ currently.

[2016-02-08 16:07] yacaovsnc commented on #8
@net2h sorry about the trouble. We do have another implementation of the auth flow in the works that should solve the issue you are facing. However currently it's still a work in progress. We will definitely try to make it work soon.

What version of Java are you running phpStorm on? The new Auth flow works with Java 1.7+ currently.

[2016-02-10 14:56] net2h commented on #8
@yacaovsnc i run on 1.8.072 i'll wait for the new version !

[2016-02-18 10:12] janiaswin opened #9 "Unable to import local project into a team foundation server collection"
There is an issue while trying to import a local project into team foundation server. The import wizard does not seem to fetch the projects listed under a collection although the connection to the tf server is successful

[2016-02-18 15:52] madhurig commented on #9
Thank you for contacting us. The plugin only supports Git, so we only show "Git" team projects in the import wizard and "TFVC" team projects are not shown. Are you seeing "Git" team projects missing. It appears you are using an on-premise Team Foundation Server. What version of TFS are you using?

Regards,
-Madhuri

[2016-02-22 11:31] Delimer opened #10 "Not start on phpstorm"
[code]

[2016-02-22 18:48] madhurig commented on #10
What version of PhpStorm are you using? We support PhpStorm versions 9 and 10. If you are using an older version, it may not work.
It also looks like you are using an older version of our plugin, we changed our plugin to com.microsoft.alm.*, could you please try upgrading to the latest version?

Regards,
Madhuri

[2016-02-23 08:09] janiaswin commented on #9
Thank you for the reply.

We have the 2015 TFS version for our on-premise operations. Does it mean if
we convert our tfs project (hosted in link http://serveraddress:8080/tfs/)
to a git project the plugin with list for import?

Regards,
Aswin Jani

On Thu, Feb 18, 2016 at 7:52 PM, Madhuri Gummalla <notifications@github.com>
wrote:

[2016-02-23 15:32] madhurig commented on #9
TFS 2015 RTM does not support team projects that support both TFVC and Git, converting your TFS project from TFVC to Git is also not possible. I can see 2 solutions for you:
(1) Upgrade to TFS 2015 Update1 if possible. That version of the TFS server allows both TFVC and Git repositories in the same team project. We will publish a change to the plugin this week that will allow you to import into th

[2016-02-24 08:19] Delimer commented on #10
phpStorm 9.0.2

[2016-02-24 14:44] yacaovsnc commented on #8
@net2h with the latest plugin version 0.96.0 (http://plugins.jetbrains.com/plugin/7981), we have added an another authentication implementation that should solve the problem you are seeing on Windows.

To enable that, in your idea.exe.vmoptions (or idea64.exe.vmoptions if you are using idea64.exe), add this JVM option:
-DuseJavaFxAuthLibrary=true

Let me know if you are unblocked from Windows with

[2016-02-24 15:11] net2h commented on #8
@yacaovsnc i updated to 0.96.0, add -DusejavaFxAuthLibrary=true to Phpstorm64.exe.vmoptions and i got exactly the same error on login.

[2016-02-24 15:13] yacaovsnc commented on #8
"-DusejavaFxAuthLibrary=true"

Can you please confirm the case?  "Java" should be camel cased.

[2016-02-24 15:20] net2h commented on #8
-DusejavaFxAuthLibrary=true i what i entered and added also to PhpStorm.exe.vmoptions and got the same error

[2016-02-24 15:22] yacaovsnc commented on #8
@net2h yeah the correct case is: "-DuseJavaFxAuthLibrary=true"

Make sure you use upper case "J" in your setting.

[2016-02-24 15:33] net2h commented on #8
@yacaovsnc great job, it works now.

[2016-02-24 15:33] #8 closed

[2016-02-24 15:35] yacaovsnc commented on #8
Great!!  Thanks a lot @net2h for your patience and helping us fixing this issue.

This new auth library still needs some work and we will keep it as a secondary experimental library for now, later on when it's matured we will assess whether we will switch to the new lib.

Glad you are unblocked for now.

[2016-02-24 20:29] madhurig commented on #10
Hi Delimer,

It looks like PhpStorm 9.0.2 is not packaging the logger jars the plugin depends on. I will look into why they are not available and how we can avoid this in the plugin.

As a workaround you could try copying the jars from the IntelliJ community edition install to the PhpStorm install lib folder. On my machine I copied **slf4j-api-1.7.10.jar ** and **slf4j-log4j12-1.7.10** to C:\Progr

[2016-02-25 07:58] Delimer commented on #10
Thank you. Now it works.

[2016-02-25 07:58] #10 closed

[2016-02-25 14:24] madhurig commented on #10
@Delimer : Thanks for trying out the workaround and glad you are unblocked.

[2016-03-01 21:58] elibyy opened #11 "TFS projects"
hey there,
is it planned to support TFS (not git) projects?

[2016-03-02 12:48] madhurig commented on #11
We don't have a plan yet. Please consider voting on this user voice item: https://visualstudio.uservoice.com/forums/330519-team-services/suggestions/6785457-tfs-plugin-for-android-studio

Thanks,
Madhuri

[2016-03-21 14:12] #11 closed

[2016-04-11 16:18] 5teveroy opened #12 "Android Studio freezes when logging in from Pull Requests tab"
Setup:

- OS X El Capitan
- 10.11.4
- Android Studio 1.5 and 2.0
- Plugin 0.95 and 0.96

Steps to reproduce:

1. In Android Studio, open the Version Control view.
2. Click on the Pull Request tab. The "Sign in to your Microsoft account" window appears.
3. Type in the email. Before being able to enter the password, I'm redirected in the same window to another "Sign In" form with a blue header bar w

[2016-04-12 14:40] madhurig commented on #12
Hi,

Thank you for trying out the plugin and reporting this issue. We have a fix in progress that we will release soon. I will post an update once we have the release (hoping to release today or tomorrow). The workaround for this issue is to clone the repository using the Visual Studio Team Services plugin and then open the pull requests tab.

Thanks,
Madhuri

[2016-04-12 14:42] 5teveroy commented on #12
Awesome! Thanks.

[2016-04-13 14:59] madhurig commented on #12
The new version 0.98.0 is published now: https://plugins.jetbrains.com/plugin/7981. It has initial workitem integration as well. Please try and give us feedback.

Thanks,
Madhuri

[2016-05-02 14:39] #9 closed

[2016-05-11 14:24] wawyed opened #13 "Webstorm: Unable to authenticate to Team Services."
I'm trying to access Team Services through Webstorm and I don't seem to be able to log in. I'm using my personal account.

EDIT: Looking through webstorm logs I found this:

[code]

![visualstudioplugin](https://cloud.githubusercontent.com/assets/4390806/15184293/85fc10dc-178c-11e6-9741-e8d6ee26c72b.PNG)

Log in through a browser works perfectly fine.

[2016-05-12 08:56] derchris opened #14 "Login not possible"
When trying to login via Team Services it shows the OAuth Webview, I can login with my credentials, UI jumps back to Login, then moves - for a short time - on to "Project overview" but than returns back to the Appcode Loginscreen showing AssertionError.

[2016-05-12 13:58] leantk commented on #14
Hi,

I'm sorry to hear about your problem. Thanks for bringing it to our attention. Could you do me a favor and turn on debug logging for our plugin and send me a log generated from a run where you try to log in and it fails? The instructions on how to do this are below.

Instructions for Logging:
Under the Help menu, Debug Log Settings, add a value of “com.microsoft.alm” (without the double quote

[2016-05-12 14:08] derchris commented on #14
Thanks for the quick replying... please find log attached

[idea.log.txt](https://github.com/Microsoft/vso-intellij/files/261474/idea.log.txt)

<img width="515" alt="bildschirmfoto 2016-05-12 um 16 08 18" src="https://cloud.githubusercontent.com/assets/598608/15217418/c7dbcacc-185b-11e6-9104-5125b907a6b7.png">

[2016-05-12 14:17] leantk commented on #14
That log doesn't seem to contain any reference to an AssertionError which is weird. Would you be able to look in any of the logs over the past day that have been saved off and search for "java.lang.AssertionError" and see if that is contained in any of them please? There should be a stack trace that is accompanied with the error that will point us in the right direction.

[2016-05-12 14:36] leantk commented on #14
Also if you don't feel comfortable adding your logs or any other information here, feel free to email me at leantk@microsoft.com

[2016-05-12 14:48] derchris commented on #14
I checked the whole day's log and didn't find any assertion errors :(

But I found some authentication errors, which I'll send by mail

For further reference here's the snippet:
[code]

[2016-05-26 13:30] rnbayliss opened #15 "Unable to get Work Items until 1hr after creation"
I am trying to see the work items for our TFS project and I have run into an issue where the plugin is querying the TFS API providing a parameter "asOf" which is 1hr behind my local time (BST) and this results in a 404 result.

It is clearly something to do with the timezone; the request going out in GMT not BST and our TFS 2015 server is interpreting it as BST. This means the work item "doesn't e

[2016-05-26 13:33] jpricketMSFT commented on #15
Hi rnbayliss,

Thanks for reporting this issue. We will try to reproduce the issue and get a fix in as soon as possible. If you think of any other details, please let us know. I will try this out today.

Thanks,
Jason

[2016-05-27 08:18] rnbayliss commented on #15
I can provide a wireshark trace if needed of the affected packets..?

[2016-05-27 14:49] jpricketMSFT commented on #15
I will let you know if we need those. I hope we can repro the issue today. If so, a fix will go out with our next deployment.

[2016-05-27 14:51] rnbayliss commented on #15
Fantastic, thanks. I look forward to it.

[2016-05-27 18:40] jpricketMSFT commented on #15
I was able to repro the problem (after changing the Time Zone of the account that TFS was running as) and found the problem. Thanks for reporting this issue. The fix should be released in the next week or two.

[2016-05-30 12:40] richbayliss commented on #15
Thanks Jason, I look forward to trying this out. I'll try pulling the latest code with the commit above and see if I can get it working. Looks like the solution was to remove the "asOf" parameter, was this a mistake in code or simply an easy fix to get all work items?

[2016-05-30 12:41] rnbayliss commented on #15
Thanks Jason, I look forward to trying this out. I'll try pulling the latest code with the commit above and see if I can get it working. Looks like the solution was to remove the "asOf" parameter, was this a mistake in code or simply an easy fix to get all work items?

[2016-05-31 13:17] jpricketMSFT commented on #15
It was a coding mistake on my part. I didn't test the asOf date with different time zones. The only advantage to using the asOf date would be if somehow the work items changed between the two server calls and you wanted to show the exact work item details that were there when you made the first call. I don't think we need that kind of precision here :)

Thanks again for reporting the issue and try

[2016-05-31 20:43] yacaovsnc commented on #12
Closing due to inactivity.  If you encounter any other errors against the latest version of this plugin, please open a new issue.

Thanks!

[2016-05-31 20:43] #12 closed

[2016-06-01 16:10] joedborg opened #16 "No support for tasks"
For me, the biggest benefit for this plugin is to share tasks with IntelliJ (et. al.).  I feel most of the features this plugin currently brings can be achieved with the built-in Git support.  Only the pull requests seem to be the exception (which is a really useful thing).

When using JIRA as a task server, one can pick their bug / PBI from a list, which then creates a branch based on the item's

[2016-06-01 16:35] yacaovsnc commented on #16
Thanks for your feedback Joe!  The latest version of the plugin has a "work item" tab which shows all the tasks assigned to me in a list.  We are actively working on creating a branch from any of the work items now.  :)  It should be available very soon.

Thanks again for using our plugin, and we really appreciate the feedback.

[2016-06-01 16:41] joedborg commented on #16
Hi Yang,

Thanks very much for the rapid reply and it's really nice to see Microsoft releasing open source developer tools.

Could you tell me how to display this tab as I can't seem to find it :)

Do you know if this plugin will ever interact directly with IntelliJ's task manager?  Or will it always be a seperate entity?

[2016-06-01 16:49] yacaovsnc commented on #16
Hi Joe,

Sure!  Please make sure you have plugin version 0.100.1 installed.

Then you should see this "Work Item" tab inside the "Version Control" tab.
![image](https://cloud.githubusercontent.com/assets/10119737/15717832/bb115b5e-27f6-11e6-9b27-97d8d0c1ec13.png)

Currently we are not integrated with IntelliJ's task manager.  Thanks for this valuable feedback, I will definitely rely the message to

[2016-06-01 20:59] rnbayliss commented on #15
Jason, I have built the master branch and I will try the plugin tomorrow at work. One thing, it is frustrating to have to install IntelliJ 14.x when 2016 is now available. Are there plans to migrate to the 2016 plugin model soon, or is this something you would like assistance with from the community?

[2016-06-01 21:02] jpricketMSFT commented on #15
That's a great question. We should probably update our docs. 15.x should work perfectly fine. We have a backlog item to get everything working on 16, but it isn't there yet. Help from the community is always welcome :)

[2016-06-02 07:00] joedborg commented on #16
Ah yes thanks, I've found it now.

Thanks for relaying the feedback, it would be nice to leave this open until that is done.

[2016-06-02 19:34] rnbayliss commented on #15
I tried the plugin today (built in manually against v14 and installed into v2016) and the Work Items showed up straightaway. Cheers.

[2016-06-02 19:34] #15 closed

[2016-06-02 19:36] jpricketMSFT commented on #15
Thanks, Rich!

[2016-06-10 13:54] leantk commented on #14
Many AssertionErrors in the authentication have been removed and replaced with exceptions to create better trace-ability for issues like this. If you upload the new 0.101.0 version of the plugin you most likely will see a different error that will help us pinpoint the underlying problem better.

[2016-06-15 16:38] rohitramkumar308 opened #17 "Code Review tool like visual studio"
You guys are doing a great job with this plugin. Are you planning on integrating code reviews like in visual studio ?

[2016-06-15 17:45] jpricketMSFT commented on #17
Hi Rohit,

That's a great question. The first thing we need to do is get TFVC integration. Currently, we only have Git integration with VSTS and TFS. Once we have TFVC working (hopefully soon), we will consider things like Code Review. However, it is not on the radar right now.

Thanks for asking!
Jason

[2016-06-15 17:45] #17 closed

[2016-06-15 17:47] jpricketMSFT commented on #14
Hi derchris,

Did you have a chance to try the latest update? Any more information?

Thanks,
Jason

[2016-06-15 17:50] jpricketMSFT commented on #13
Hi wawyed,

Did you ever get past this issue? Did you try upgrading to a newer version of the plugin? We now handle this specific error much better. The only real fix is to force a profile to be created. You can find out more about creating a profile here: http://java.visualstudio.com/Support/faq/Index#_why-do-i-see-the-error-no-profile-exists-for-the-user

Thanks,
Jason

[2016-06-15 17:51] #13 closed

[2016-06-27 21:05] columan opened #18 "Unable to push to VSTS"
Hi,
when I try to push some changes to my git repo on VSTS, authorization fails. I enter only my mail address and than I'm forwarded to a live login page, where I login with my credentials. Than I'm back in IntelliJ and after some seconds I'm asked again to login.

I have attached the logs.

Thx
Tim

[code]

[2016-06-28 14:40] leantk commented on #18
Hi Tim,

I'm sorry that you are having some trouble. Thanks for bringing it to our attention though. I'm assuming you are trying to create a pull request with our plugin and the push to the master branch failed. The top of the log is missing so that's why I'm asking to be sure I have the right idea of what is failing for you.

Also some additional information that would be helpful:
* Did you clone

[2016-06-30 16:03] rohitramkumar308 opened #19 "TFS support for xcode"
Do you have any support for Xcode/iOS projects. Our android team is moving to TFS all thanks to you guys but the iOS team is still using enterprise git. Do you have any other workaround/tool for mac ?

[2016-06-30 16:13] DavidStaheli commented on #19
Hi rohitramkumar308.  Thanks for asking.  TFS 2015+ definitely supports Xcode and iOS development in a first-class way.  For example, Xcode can connect to TFS Git just like other Git servers.  TFS also has rich Objective-C and Swift syntax highlighting.  There is also great pull request/continuous integration/build support for Xcode builds and deployments to beta and test environments (like Hockey

[2016-06-30 16:19] rohitramkumar308 commented on #19
Thank you very much. That would be great. We will do some research on our end and reach out to you. Thank you.

[2016-08-01 10:40] jtidmus opened #20 "SSL handshake failure on authentication against Team Services using corporate ADFS"
**IDEA 2016.2 Plugin 1.103.0**
When signing-in against Team Services using "Work or school account" claims it is redirecting to the organisation's signin page but results in a failure due to SSL handshake error shown below and in the attached log (with debug enabled).

The SSL certificate on the ADFS domain is valid and other clients can authenticate against it. Authentication works correctly usin

[2016-08-01 13:53] yacaovsnc commented on #20
Thanks @jtidmus for reporting this issue.  Do you have a proxy in place and does that proxy server requires authentication?

[2016-08-01 16:00] jtidmus commented on #20
@yacaovsnc No proxy but it looks like the ADFS uses a self-signed SSL certificate for internal users. Presumably, JavaFX cannot render this page causing the shown handshake failure. Does this seem like the likely explanation?

[2016-08-01 16:19] yacaovsnc commented on #20
@jtidmus Yes, that does make sense -- Java by default can't establish secure connection with self-signed certs.   We need to instruct Java to trust the self signed cert either by import it to the default trust store, or create a new trust store and direct IntelliJ to use that.

I am a little bit confused, if you are connecting to VSTS,  I thought the site should be protected by our cert?   Are you

[2016-08-01 20:17] jtidmus commented on #20
@yacaovsnc I can confirm that the workaround for the self-signed ADFS SSL certificate was to install the certificate chain into the JVM running IntelliJ. Then when attempting to access VSTS account at _*****.visualstudio.com_ the plugin is redirected to the corporate ADFS signin page at _adfs.*****.com_. The corporate self-signed certificate is accepted by the JavaFX renderer and the authenticatio

[2016-08-01 20:17] #20 closed

[2016-08-01 20:20] yacaovsnc commented on #20
@jtidmus Glad you have found the workaround.  Thanks!

[2016-08-02 07:13] SrivatsaMarichi opened #21 "Cannot see the team services under VCS in android studio"
I have disabled the plugin and re-enabled. But I cannot see those in my android studio.

[2016-08-02 07:18] SrivatsaMarichi opened #22 "cannot see the collections in tfs"
I have 5 collections in my onprem tfs. I want to stop couple of them say 3. And I wish to see the other 2 collections in my android studio while connecting. But unfortunately I cannot see any of them.

![1](https://cloud.githubusercontent.com/assets/13433045/17320093/46934c86-5881-11e6-8c3b-b5563d18a849.jpg)

[2016-08-02 13:32] AlexRukhlin commented on #22
Hi,

Could you please provide a bit more details regarding the situation? What are steps to reproduce the issue? Which version of the Android Studio and the VSO-IntelliJ plugin do you use?

Do I understand well that
1. You stop some collection(s) in your TFS using TfsMgmt.exe program, after that
2. You Try to connect to the server using Android Studio?

Thanks,
Alex

[2016-08-02 13:40] SrivatsaMarichi commented on #22
Hi Alex,
The latest version of android studio (2.1) + latest version of intellij plugin is being used.Your understanding is correct. 
I stopped collection using Tfsmgmt.exe. But when i try to access the TFS for the other coollections, it doesn't appear.
Thanks,Srivatsa

    On Tuesday, 2 August 2016 7:02 PM, Alex Rukhlin <notifications@github.com> wrote:

 Hi,Could you please provide a bit more de

[2016-08-03 13:23] AlexRukhlin commented on #22
Hi Srivasta,
That looks like a bug, I'm sorry to say. Apparently, an exception occurring when the plugin tries to access an offline collection crashes the plugin. Thanks for catching that issue.

The item is assigned to the dev. team.

Alex

[2016-08-03 17:37] SrivatsaMarichi commented on #22
Ohh, cool. Thanks for the heads up!

[2016-08-04 13:17] leantk commented on #22
Hi Srivasta,

Were you able to see any of your repositories before you stopped the 3 collections? Were any of those repositories in the collections you did not stop?

To help us better take a look at this would you mind sending us a log of when you try to checkout a repository when you have the collections stopped and when you don't have the collections stopped? The instructions on how to turn on

[2016-08-04 13:52] SrivatsaMarichi commented on #22
Hi Leah,

I was able to see all the repositories from within my Android Studio before stopping my collections in TFS.
I have 6 Team Project Collections. 4 of them have Team Projects. Other 2 doesn't have Team Projects due to which i wasn't able to see those as well.

When i stop the collections (those without team projects) i cannot see the collections which were online. Please find the below zip

[2016-08-04 13:53] SrivatsaMarichi commented on #22
[idea.txt](https://github.com/Microsoft/vso-intellij/files/401776/idea.txt)

[2016-08-04 15:36] leantk commented on #22
Hi Srivatsa,

I think I found a fix for your issue. I've attached an updated version of the plugin for you to try. Let me know how it goes. If it still doesn't work please let me know and I can look at the new logs. I added more logging as well so we can see what else might be happening.
[plugin.idea-1.104.0.zip](https://github.com/Microsoft/vso-intellij/files/401987/plugin.idea-1.104.0.zip)

[2016-08-05 05:23] SrivatsaMarichi commented on #22
Hi Leah,

PFA log. The error still shows up when i stop the collections!
[idea.txt](https://github.com/Microsoft/vso-intellij/files/403178/idea.txt)

[2016-08-05 13:22] leantk commented on #22
I don't see my new logging in that log so try this build instead. Sometimes you need to bump the version number up for the change in the plugin to be detected. My mistake, I should have done that originally.
[plugin.idea-1.104.1.zip](https://github.com/Microsoft/vso-intellij/files/403815/plugin.idea-1.104.1.zip)

[2016-08-09 18:32] jpricketMSFT commented on #21
Hi Srivatsa,
Can you describe exactly what you are doing and what you expect to see? There are cases were authentication keeps some accounts from showing up. If you know your VSTS account url, you can go to the Team Foundation Server tab of the login dialog and put in the account url directly there.
Thanks,
Jason

[2016-08-09 18:36] jpricketMSFT commented on #14
Closing this issue due to no response. If you are still having issues, please let us know.

[2016-08-09 18:36] #14 closed

[2016-08-10 13:39] SrivatsaMarichi commented on #22
Hi Leah,

That didn't work though. PFA logs for the same.

[idea.txt](https://github.com/Microsoft/vso-intellij/files/411192/idea.txt)

[2016-08-11 05:13] SrivatsaMarichi commented on #22
Hi Leah,
Now that the collections show up upon stopping the collections. The updated plugin did work. Thanks a ton to the entire team for fixing up the issue and helping in resolve the problem :-)

Thanks,
Srivatsa

[2016-08-13 12:24] AppChecker opened #23 "Function result is ignored"
Hello!

Code in the method [UrlHelper.getFileURI](https://github.com/Microsoft/vso-intellij/blob/bb3910bba15a933e76c3ca5ba85c3437d2e2d602/common/src/com/microsoft/alm/common/utils/UrlHelper.java#L251):
[code]
ignores the return value of the String.concat method.

Probably, is should be:

[code]

This possible defect found by [static code analyzer AppChecker](http://cnpo.ru/en/solutions/appchecker.

[2016-08-15 13:48] leantk commented on #22
Thanks for bringing the issue to our attention Srivatsa!

[2016-08-15 13:48] #22 closed

[2016-08-15 14:34] leantk commented on #23
Thanks for bringing this to our attention.

Fixed in commit c5cc5d919cf8976b64fa256d0fc1f809494d55a8

[2016-08-15 14:34] #23 closed

[2016-08-16 13:44] SrivatsaMarichi commented on #21
Hi Jason,

I'm sorry for the delay in response. Now i am able to see those in my Android Studio!

Thanks,
Srivatsa

[2016-08-16 13:44] #21 closed

[2016-09-28 06:08] leo9223 opened #24 "Unable to create workspace for a project in another collection than DefaultCollection"
![tfsasbug](https://cloud.githubusercontent.com/assets/8036332/18902385/21171a2e-856c-11e6-918b-95b34fff7d43.png)

This form hangs up if I used to create a workspace for a team project exist in another collection rather than DefaultCollection.

[2016-09-28 18:10] leantk commented on #24
Hi,

Thank for reporting the problem. I'm trying to reproduce this on my end and I do see an issue when I hit "Create Workspace". An error appears but I have to wait several minutes for it to happen (while I wait it looks like a hang has occurred). If you wait some time do you eventually see an error? If so could you paste that here please?

Also, if you wouldn't mind, it would be really helpful i

[2016-09-30 05:19] leo9223 commented on #24
Dear leantk,

I have seen the logs and I have found that it says DefaultCollection is not found 404 error.

It only makes workspaces for the collections with the name DefaultCollection.

It is working with DefaultCollection but with no other collection name.

let me find the log

[2016-09-30 15:55] Hirr0 opened #25 "Unable to create workspace."
Windows 10
Installed plugin, Cross-Platform Command-Line (TF), JDK, accepted tf eula, added JAVA_HOME and TF_HOME system variables. Signed in to vsts. Can choose a project from list.
When i click create workspace, popups window with a status of creating workspace, then i get error:
KEY_TF_BAD_EXIT_CODE
com.microsoft.alm.plugin.external.exceptions.ToolBadExitCodeException: KEY_TF_BAD_EXIT_CODE

[2016-10-03 14:31] jpricketMSFT commented on #25
Thanks Hirr0 for reporting this issue. We are aware of some problems creating the workspace. We hope to have some fixes out very soon.

[2016-10-04 13:22] leantk commented on #24
@leo9223 could I get that log please? I need to see at what point it fails for the non-DefaultCollections.

[2016-10-05 09:11] dionorgua opened #26 "Unable to checkout from git"
Just tried to checkout using latest AppCode EAP (2016.3 EAP)
[code]

Later got "Unable to clone http://DOMAIN" (while I've entered httpS:// as TFS server). (port 80 is banned)

[2016-10-05 17:30] jpricketMSFT commented on #26
Hi dionnorgua,
Does checkout work for you on a stable version of AppCode? We don't typically test on the "Early Access" builds.
Thanks,
Jason

[2016-10-11 09:06] cmckeegan opened #27 "Unable to configure TFVC"
Start Android studio, go into Preferences -> Version Control -> TFVC

Loading... spinner overlays over default txt and I get a notification that an error has occurred. Loading never completes.

[idea.log.zip](https://github.com/Microsoft/vso-intellij/files/520036/idea.log.zip)

[2016-10-11 09:40] ayushindin commented on #27
+1 same bug

[2016-10-11 13:00] jpricketMSFT commented on #27
Thanks for reporting this issue and providing your logs! I will take a look at this issue today. We hope to release several fixes this week.
Thanks,
Jason

[2016-10-11 14:52] raviselvaraj opened #28 "Unable to set the TFVC setting in Android Studio"
10:40:18 AM Platform and Plugin Updates: Android Studio is ready to update.
10:40:19 AM Gradle sync started
10:40:35 AM Gradle sync completed
10:40:35 AM Executing tasks: [:app:generateDebugSources, :app:generateDebugAndroidTestSources, :app:mockableAndroidJar, :app:prepareDebugUnitTestDependencies]
10:40:40 AM Gradle build finished with 1 error(s) and 2 warning(s) in 5s 131ms
10:44:56 AM Plugin E

[2016-10-11 14:54] #28 closed

[2016-10-11 14:55] raviselvaraj commented on #28
This bug has been already reported.

[2016-10-11 15:08] jpricketMSFT commented on #27
I am able to repro this with the "preview" version of the plugin. The logs don't indicate where in our code the problem is, but we have since updated the settings/preferences page for the plugin and that seems to have fixed the issue. You should see this problem go away with the next release. If not, please update this issue and let us know.

[2016-10-11 15:12] jpricketMSFT commented on #27
I just realized that the release went out last night. So you should be able to update and get the fix. Please let us know if you still see an issue or if you don't see the TFVC settings page. (it has the location of the tf script to run).

[2016-10-11 15:31] raviselvaraj commented on #27
I am still not been able to use the TFVC settings after the last night plugin update

Sorry I was not been able attache the log as zip file, see below:

2016-10-11 11:23:22,897 [ 183648]  ERROR - llij.ide.plugins.PluginManager - Android Studio 2.2.1  Build #AI-145.3330264
2016-10-11 11:23:22,897 [ 183648]  ERROR - llij.ide.plugins.PluginManager - JDK: 1.8.0_76-release
2016-10-11 11:23:22,897 [ 183

[2016-10-11 15:44] jpricketMSFT commented on #27
This callstack is a bit different than the others. It looks like a different issue, but we will look into it.
Thanks for reporting it and providing the logs.

[2016-10-11 16:24] raviselvaraj commented on #27
+Attached log file

[idea.log.TXT](https://github.com/Microsoft/vso-intellij/files/522382/idea.log.TXT)

[2016-10-11 16:45] leantk commented on #27
My apologize for the bug @raviselvaraj @cmckeegan @ayushindin. I just pushed version 1.107.1 of the plugin out which has the fix in it. Please let me know if that works for you. Thanks for reporting this!

[2016-10-11 17:07] raviselvaraj commented on #27
Thank you @leantk for the quick response, New release worked.

[2016-10-11 19:51] #27 closed

[2016-10-12 10:09] cmckeegan commented on #27
Thanks new release is working for me.

[2016-10-13 11:21] DavidStaheli commented on #16
Hi @joedborg, after talking with JetBrains, we're working on a strategy that may not integrate with IntelliJ's task manager.  I'm going to close this issue for now.

[2016-10-13 11:21] #16 closed

[2016-10-17 12:40] ayushindin opened #29 "Custom workspace"
Hi.
Thank you for your great work.
I have a question about opportunity to create custom workspace. My project build from different sources which are located in different repositories. Does is it possible?

[2016-10-17 13:21] jpricketMSFT commented on #29
@ayushindin - Yes this is possible. This is not the expected scenario, but you can modify your workspace to include any server paths you want in the Edit Workspace dialog. You can choose VCS->TFVC->Edit Workspace OR you can click the checkbox to Edit the workspace on the VCS Checkout dialog. Let us know if you have any issues with this type of workspace.
Thanks,
Jason

[2016-10-17 14:45] ayushindin commented on #29
@jpricketMSFT It will be great if I have opportunity to checkout project by specific workspace.
I tried to:
1) enable vcs integration for existing project - workspace is empty; If edit workspace than "Updating workspace: error current workspace"
2) checkout empty repository -> modify workspace -> list all dependencies (can't copy workspace from tfs or copy-past text...)

[2016-10-17 14:56] jpricketMSFT commented on #29
@ayushindin - I am not sure I understand what you want to do. Can you edit the workspace? What do you mean by repository? I assumed you meant different team projects in the same Collection. All of the sources in a particular workspace have to come from the same collection. Perhaps a few screenshots would help me understand your scenario better.
Thanks,
Jason

[2016-10-17 15:06] ayushindin commented on #29
@jpricketMSFT

First case:
Preconditions: I have a real project which mapped from TFS. I opened, then enable vcs integration and try modify workspace.

1) ![image](https://cloud.githubusercontent.com/assets/5469288/19442894/9dda9780-9493-11e6-935d-004df793b22e.png)
2) ![image](https://cloud.githubusercontent.com/assets/5469288/19442940/c62d31c0-9493-11e6-95d6-f0e6d71ad159.png)
3) ![image](https://

[2016-10-17 15:43] jpricketMSFT commented on #29
@ayushindin - That's a really bad error message. My apologies for that. Could you look in the Log file (under help menu) and attach the callstack for that error here?
How did you create the workspace on disk? Did you use the Java command line version of TF or some other way? You will probably have to recreate the workspace using the Java command line version of TF or Android Studio.
Thanks for the

[2016-10-17 16:05] ayushindin commented on #29
@jpricketMSFT My steps:
1) I create workspace in TFS app.
2) Open downloaded project with Android Studio.
3) Enable VCS integration
4) Try to modify workspace. Workspace is empty and i can't to change it (screenshots)

Maybe problem between TFCommandLine and Visual Studio (TFS).

**Exception:**
java.lang.RuntimeException: An argument error occurred: The workspace could not be determined from any a

[2016-10-17 16:15] jpricketMSFT commented on #29
@ayushindin - I think you are right. The workspace created by Visual Studio is probably not being recognized by the Java TF command line that we use. Probably because the cache files are in different locations. Can you recreate the workspace in Android Studio?

[2016-10-17 16:17] ayushindin commented on #29
@jpricketMSFT Could you provide instruction how to recreate, please?

[2016-10-17 18:29] jpricketMSFT commented on #25
@Hirr0 - Hi, we have pushed out a new update with some fixes in this area. Please take a look and let us if the problem is not fixed. The newest release is v1.107.1. You should be able to update it within the IDE.
Thanks for helping us track down these problems!
Jason

[2016-10-18 09:46] ayushindin commented on #29
@jpricketMSFT Moreover, if I print "tf workspaces" in cmd then I'll see some workaspaces which are the same with workspaces in tfs (visual studio) (not all).

[2016-10-18 10:46] #29 closed

[2016-10-18 10:47] ayushindin commented on #29
I sync cache and it helps.

[2016-10-18 12:44] jpricketMSFT commented on #29
That's great! Thanks for updating the issue. Let us know if you run into any other issues.

[2016-10-18 13:25] ayushindin opened #30 "Can't checkin changes"
Hello.

I can't checkIn changes. I'm using TFVC. I have a real project which was mapped from visual studio. I opened it with android studio and enable vc integration (workspace is correct).
![image](https://cloud.githubusercontent.com/assets/5469288/19479402/3148fdac-954f-11e6-9087-4c27dab32431.png)

if skip and try to checkIn:
![image](https://cloud.githubusercontent.com/assets/5469288/19479318/c

[2016-10-18 15:52] jpricketMSFT commented on #30
@ayushindin - How large is your workspace? How many files? If it's more than 100,000, you may be running into some limitations on local workspaces. Then again, this could just be a bug with the (Preview) bits. Can you open the log and see if there are any exceptions?
Thanks,
Jason

[2016-10-18 15:53] jpricketMSFT commented on #26
Closing due to lack of response from customer.

[2016-10-18 15:53] #26 closed

[2016-10-18 16:02] ayushindin commented on #30
@jpricketMSFT there are no any exceptions. Also, there are about 85 000 files.

[2016-10-18 16:04] ayushindin commented on #30
@jpricketMSFT Does it possible to see history (from server) in android studio? Or it's also bug?

[2016-10-18 17:02] jpricketMSFT commented on #30
We haven't implemented the history feature yet :(
85,000 is a lot of files. It could take several minutes to refresh the status, but I would expect it to finish in less than 30 minutes for sure. How long was it stuck like that?

[2016-10-18 18:54] ayushindin commented on #30
@jpricketMSFT 26 minutes were enough:-)
Thank you for your attention. I'll try to provide more information about my experience with your plugin.
My team will be happy when plugin will release with all amazing features. Thank you.

[2016-10-18 18:54] #30 closed

[2016-10-19 14:06] Hirr0 commented on #25
![image](https://cloud.githubusercontent.com/assets/18056168/19521954/382818ea-961e-11e6-9148-c3eebd5f8046.png)
I've tried to checkout with different directory names, it didn't help.

[2016-10-19 15:11] jpricketMSFT commented on #25
Hi Hirr0,
I am sorry to hear that the newest version of the plugin didn't fix your issues. Can you share your logs here? You can find out more about sharing your logs here: http://java.visualstudio.com/Docs/tools/intelliJ#_frequently-asked-questions-faq

Thanks,
Jason

[2016-10-19 19:36] vbarkov opened #31 "Android Studio with TFVC does not track removing and renaming files"
When I try to remove file from Project window in Android Studio it removes but my local changes is empty. So I can't rollback this change. When I update project, removed file doesn't downloaded from server.

When I try to rename file (Refactor->Rename), file with new name appears in Unversioned files. I can add it to change list. But after rollback it appears in Unversioned files or removes. So I

[2016-10-19 20:38] jpricketMSFT commented on #31
@vvb3590 - thanks for the feedback. The problem with removing files looks like a bug. We will try and get a fix for that soon. We have not implemented the rename feature yet. We are working on it soon.
I am going to mark this issue as a bug and a suggestion for tracking.
Thanks,
Jason

[2016-10-20 10:54] ayushindin opened #32 "Impossible to copy-paste workspace to Android Studio "workspace editor""
Hi.

It's impossible to copy-paste workspace to Android Studio. I have 20 mappings and it's very difficult to fill list one by one (manually). Please add it to your backlog.

Thank you.

[2016-10-20 13:05] jpricketMSFT commented on #32
Thanks for the suggestion, we will add it :)

[2016-10-21 13:17] vbarkov opened #33 "Android Studio TFVC: Work item linking with commit"
Hi.

It is very grate feature in TFS Git to link work item with commit.
Do you plan to add this feature in TFS TFVC?

It will be nice if after commit work item state will be changed to resolved or closed

[2016-10-21 13:29] vvb3590 opened #34 "Android Studio TFVC proposal: conditional commit"
Hi

It would be quite good to add a feature which allows to run some tasks (for example gradle tasks with tests or checkstyle) before any commit.
If one of the tasks will be failed don't perform the commit.

[2016-10-21 17:05] jpricketMSFT commented on #34
That's an interesting suggestion. I think you can do certain things before you commit locally. If you are looking for something that would run tests before you merge your changes into main, take a look at the Team Services Pull Request feature. You have the PR run builds, wait for code review sign offs, and more. This is the way I would suggest accomplishing your request.
Thanks for the suggestion

[2016-10-21 17:05] #34 closed

[2016-10-21 17:08] jpricketMSFT commented on #33
Yes, we hope to add the ability to link work items with TFVC checkins soon. As for resolving the work item when you commit, that feature is being worked on by the version control teams. We hope to have something that works for both Git and TFVC at some point.

Thanks for the suggestion!

[2016-10-23 09:53] Gadsha commented on #25
Windows 7, Android Studio 2.1.2

everything looks good, the plugin finds my server and I login to the server, but when I choose my repository and click on "Create Workspace" it freezes.

![tfsnotworking](https://cloud.githubusercontent.com/assets/13866820/19625378/c821de1a-9923-11e6-9913-ed242a37753d.jpg)

[2016-10-24 10:06] vbarkov opened #35 "Android Studio: workspace does not load"
Hi.

I am using proxy server to access to Team Foundation Server.
I just change domain password (password to proxy also changed) and I don't load my workspace any more. I tried to restart Android Studio, restart Windows, but it does not help.

UPD: Access denied connecting to TFS server

![workspaceproperties](https://cloud.githubusercontent.com/assets/4267321/19641865/3f0c69ec-99eb-11e6-8064-a697

[2016-10-24 12:20] aleques opened #36 "Unable to authenticate to Team Foundation Server"
Hi there

Do I need some specific permission on TFS?
Just the administrator got it and the other here are not adm.

OBS: No logs on intellij about it (com.microsoft.alm)

Proxy here block my login on github.
I would appreciate it if you could provide me some valid email address.
Then, I could send my idea.log

Kind regards
Alex

[2016-10-25 07:16] scarlip opened #37 "command line tool version not correctly identified on non-english locales"
Android Studio 2.2.2
Visual Studio Team Services 1.107.1
TEE-CLC-14.0.3.zip
Window 7 x86 GERMAN

path to tf executable: selected via "..."
click on "Test" -> The installed version of the TF command line is 0.0.0
expected: correct version should be detected

cause: on German locale, the tf.cmd reports the version as "(Version 14." with capital V, which will not match to `VERSION_PREFIX`

proposal:

[2016-10-25 13:12] jpricketMSFT commented on #37
@scarlip - Thanks for digging in and figuring out the bug here. We will get this fixed for the next release.
Thanks,
Jason

[2016-10-26 17:18] leantk commented on #36
Hi Alex,

If your proxy blocks GitHub then it probably is causing issue for the plug-in as well. You can email me at leantk@microsoft.com with your log and I can help you. If you don't see anything related to Microsoft in the logs, make sure you follow the steps in the last FAQ here to turn on our logging:
http://java.visualstudio.com/Docs/tools/intelliJ#_frequently-asked-questions-faq

Thanks for

[2016-10-26 18:42] leantk commented on #35
Hi vbarkov,

I'm sorry to hear about your issue. So you say it was working for you but then stopped working when you changed your password, correct? If that is the case, the IDE is probably using cached credentials that are no good anymore. Try going to File -> Settings. Search for Password and you should find a menu under Appearances & Behavior like this:

![capture](https://cloud.githubuserconte

[2016-10-31 11:56] Erraach-walid opened #38 "WALLOUD"

[2016-10-31 11:56] Erraach-walid opened #39 "Erraach-walid"

[2016-10-31 13:12] #39 closed

[2016-11-01 14:37] yacaovsnc commented on #38
@Erraach-walid is this a real issue?

[2016-11-02 15:03] vbarkov commented on #35
Hello, Leah.

Your solution works. Thanks.
I think that plugin must ask user to reenter password in such cases

[2016-11-02 15:05] #38 closed

[2016-11-02 15:13] vbarkov opened #40 "TFVC: View history in Android studio"
Hi,

Are you planning to add the following features:
1. View item history in TFS
2. Rollback changes in TFS
3. Get specific version from TFS

[2016-11-02 15:20] jpricketMSFT commented on #40
We are working on some of those features now. But we also expect users to do more advanced scenarios like getting a specific version on the command line directly. Obviously, we want to have the right set of features (the ones users use the most) in the product. So, please let us know which features you use the most. The list above is a great start. History is high on our list.

Thanks,
Jason

[2016-11-02 20:51] leantk commented on #35
Glad to hear it worked! We definitely have it as a backlog item to fix this issue. You're right, you should just be re-prompted for credentials.

Thanks again,
-Leah

[2016-11-02 20:51] #35 closed

[2016-11-03 15:49] ayushindin commented on #40
@jpricketMSFT , @vbarkov I often use **annotate** function to understand who write some piece of code:-)

[2016-11-03 18:52] jpricketMSFT commented on #40
Thanks for adding that to the list. Annotate is definitely a cool feature.
-Jason

[2016-11-04 13:17] ogarvey commented on #24
@leantk I'm getting the same error, I've attached a log that should show the point of failure.

First mention of TFS is at line 561

[idea.log.txt](https://github.com/Microsoft/vso-intellij/files/571568/idea.log.txt)

[2016-11-08 05:54] chenlong0525 opened #41 "TFVC Command Line"
The installed version of the TF command line is 0.0.0. The minimum version suggested is 14.0.3. You may run into errors or limitations with certain commands until you upgrade. Follow these upgrade instructions.

[idea.txt](https://github.com/Microsoft/vso-intellij/files/577396/idea.txt)

[2016-11-08 14:45] dertuxmalwieder commented on #25
Confirmed freezing for Windows 10, Android Studio 2.2.2. (Technically not "freezing", I can still move the window, but no progress happens and I can't click anything inside the window anymore.)

[2016-11-08 15:24] jpricketMSFT commented on #25
@dertuxmalwieder - Thanks for the confirmation. We hope to get a repro for this problem so that we can address it. Could you provide your Android Studio logs?
Thanks,
Jason

[2016-11-08 15:32] dertuxmalwieder commented on #25
Sure thing. Seems like it's just "WAITING" like forever while creating new `threadDump`s every five seconds. I decided to kill Android Studio after I had enough of them.

I'd appreciate it if you deleted the attachment after evaluating. Too many personal data. :-)

[logs.zip](https://github.com/Microsoft/vso-intellij/files/578569/logs.zip)

[2016-11-08 15:33] dertuxmalwieder commented on #25
Could be relevant here. The last line before the dumps. For some reason connection works only before that.

[2016-11-08 16:28] jpricketMSFT commented on #25
@dertuxmalwieder - I downloaded the file and removed the file link. Thanks for providing that. If you want to increase the memory for Android Studio you can follow these steps:

If your logs have a lot of “High memory usage (free 88 of 1246 MB)” statements, you may want to increase the amount of memory available to Android Studio.
1)	Go to Help->Custom VM Options…
2)	Create a custom VM options fil

[2016-11-08 16:31] dertuxmalwieder commented on #25
This machine is not too new, I'm happy that Android Studio works at all :-). A higher memory usage would probably be disturbing. (Especially since I'm not the only developer of this project and the other one has a number of VMs open most of the time.) But thank you, we'll discuss that.

Let me know if I can help you further.

[2016-11-08 18:19] leantk commented on #24
Hi @ogarvey,

Thanks for the log. I'm looking into it right now. I wanted to confirm some facts with you to make sure I understand the situation correctly. Let me know if any of the following statements are incorrect:

* When you try to checkout from TFS, you see all your DefaultCollection repos but your repos from your custom collection do not show up
* You are trying to checkout a TFVC repo and

[2016-11-08 20:13] leantk commented on #41
Hi @chenlong0525,

We have been seeing this in some cases. We are making the fix currently and plan to be releasing it soon. I'm going to leave your issue open until we can confirm that our new fix actually does correct the issue for you. Sorry about the trouble and thanks for reporting it.

-Leah

[2016-11-09 00:51] chenlong0525 commented on #41
How do I make use of it now

[2016-11-09 13:31] jpricketMSFT commented on #41
This is most likely caused by your locale settings not being English. We haven't finished the work to call the command line correctly in non-English locales. However, you should be able to use the workaround described in the comments of the blog that announced the release here:
https://blogs.msdn.microsoft.com/visualstudioalm/2016/09/18/tfvc-support-in-preview-for-team-services-plugin-for-intellij

[2016-11-09 21:49] SumanMarri opened #42 "Visual Studio Team Services Plugin problem in Guidewire Studio"
Hi,

I have problems while installing Visual Studio Team Services Plugin in guidewire studio. Does intellij support this plugin in guidewire studio?

![image](https://cloud.githubusercontent.com/assets/18200000/20156097/b941c456-a683-11e6-9de9-10602581bb83.png)
![image](https://cloud.githubusercontent.com/assets/18200000/20156126/d9ea5ee8-a683-11e6-890c-1f01c6b6faf1.png)

[2016-11-10 19:21] leantk commented on #42
Hi @SumanMarri,

Thanks for posting the issue! I have not seen this error before but usually our plug-in is compatible with all IntelliJ IDE types. I'm sorry to say I can't find a Guidewire Studio link to download anywhere online so I can't try it out myself (if you know of one, please let me know). Something looks extremely wrong though with the loading of the plugin. Would you be able to get me

[2016-11-10 19:31] SumanMarri commented on #42
Hi @leantk

Thanks for responding, studio is guidewire so you may not find in online. i attached the error log.
[pluginError.txt](https://github.com/Microsoft/vso-intellij/files/584249/pluginError.txt)

[2016-11-10 21:17] leantk commented on #42
Thanks for the log. I'm not sure why it isn't finding the class so I'm wondering if the plugin zip file that was uploaded is messed up in some way. Would you mind trying out this updated version of the plugin out to see if you get the same error? To install this, go to the Plugin tab in Settings like you did before but select "Install plugin from disk" and select this zip file.

Also, are you usin

[2016-11-11 16:16] leantk commented on #42
Thanks for the log. I'm not sure why it isn't finding the class so I'm wondering if the plugin zip file that was uploaded is messed up in some way. Would you mind trying out this updated version of the plugin out to see if you get the same error? To install this, go to the Plugin tab in Settings like you did before but select "Install plugin from disk" and select this zip file.

Also, are you usin

[2016-11-11 18:07] jpricketMSFT commented on #37
I made the code change and it should go out with the next release. Note that the real problem is that we haven't made all the changes needed so that we can get the output from the command line parsed no matter the locale. So, we have also made a change that forces the locale of the command line (when called by IntelliJ) to use en-US. This is not the final answer, but should keep everyone from bein

[2016-11-11 18:07] #37 closed

[2016-11-14 10:40] ogarvey commented on #24
Hi @leantk I'm not actually checking anything out, it's when trying to import an existing Android Studio project into TFVC

Server format is as per last line http://:/tfs/

[2016-11-14 19:19] leantk commented on #24
Oh I misunderstood your issue @ogarvey. My apologies. Currently, the plug-in does not have the ability to import existing TFVC projects into Team Services or TFS. Only Git repositories can be imported at this time. The TFVC functionality is new to the plug-in and we are still adding more support every sprint. Importing is on our list of things to add but we haven't reached it yet. Sorry for the in

[2016-11-15 16:48] SumanMarri commented on #42
grabbed new copy of studio and then installed this plugin and it worked. Thank you @leantk

[2016-11-15 16:48] #42 closed

[2016-11-16 14:15] carloreggiani opened #43 "Proxy configuration in IntelliJ don't configure vso-intellij"
I checked on the corporate proxy log the connection from IntelliJ and from the vso-intellij: it seems Intellij doesn't pass proxy configuration to the plugin!

I think it is a bug: I didn't find any configuration option dedicated to the plugin.

I'm using the last version 1.101.7 of Visual Studio Team Services plugin.
Any workaround?

Thanks

Carlo

[2016-11-16 14:55] jpricketMSFT commented on #43
Hi Carlo,

Are you referring to the TFS Proxy or some other kind of proxy? We don't currently have support for TFS Proxies. We hope to have that support soon.

Thanks,
Jason

[2016-11-16 15:28] carloreggiani commented on #43
Hi Jason

No no, I mean "normal" http/https proxy!
I discover the problem checking the tcp connection by my pc using the plugin to connect a commit to a work item: the authentication not pass the proxy, but it is trying to connect directly to internet, failing :(

![intellij-vso1](https://cloud.githubusercontent.com/assets/1014429/20352105/59e6ff24-ac16-11e6-92d9-7c49b6944caf.jpg)

[2016-11-17 13:24] bubblef opened #44 "Commit failed with error KEY_TF_BAD_EXIT_CODE"
Hi!
In IntelliJ I installed everything as it's said there http://java.visualstudio.com/docs/tools/intelliJ#_tfvc-support-preview
When I try to check in changes to my TFVC repository, I’m getting this error:
“Commit failed with error
0 files committed, 1 file failed to commit:
KEY_TF_BAD_EXIT_CODE”

Besides, "TFVC (preview)" is disabled in VCS menu.

Best regards,
Kate

[checkin_errorlog.zip](https

[2016-11-17 15:12] jpricketMSFT commented on #44
Hi Kate,

Thanks for reporting this issue and providing the logs. We have a fix for the TFVC menu being disabled along with a few other fixes. Those should be going out soon. If we can determine what caused your error here, we will get a fix ready for that problem as well.

Thanks for trying it out and helping us improve the product.
Jason

[2016-11-17 15:13] jpricketMSFT commented on #43
Thanks for the clarification. We will look into this issue soon.

[2016-11-30 01:35] nanhapy opened #45 "Test tf executable failed when adding TFVC android studio plugin"
1. i've download the "TEE-CLC-14.0.3.zip", and extract it
2. add tf executable path to environment variable
3. run `tf eula`, and enter `y`
4. run `tf` successfully on command line, and output appears (...version 14.0.3...)
5. but test failed when  adding TFVC android studio plugin with alerts:

Can everyone help me?

[2016-12-01 09:43] dertuxmalwieder commented on #25
FYI: Still broken in the latest update.

[2016-12-01 15:19] jpricketMSFT commented on #25
@dertuxmalwieder - Unfortunately, the logs only showed a "Service not available" error. Nothing more can really be determined. If possible could you try using the IP address of the server instead of the name? Something like http://10.16.18.02:8080/tfs
And make sure you can reach the same url thru the browser on that machine.
Are you using an http proxy? We have a known issue with proxies.

Thanks,

[2016-12-01 16:05] leantk commented on #45
Hi @nanhapy

Thanks for reporting your issue. Would you be able to attach your Android Studio log to this issue please? The log will show why the parsing we are doing for the version number isn't working. You can get the log by following the last FAQ here: http://java.visualstudio.com/Docs/tools/androidstudio#_frequently-asked-questions-faq

Sorry for the trouble,
-Leah

[2016-12-01 20:12] dertuxmalwieder commented on #25
Yes, I'm behind an intranet proxy, but Android Studio actually uses it...?

[2016-12-02 12:43] bubblef commented on #44
@jpricketMSFT Hi, Jason.
I updated the plugin to 1.109.0. Now I can add nothing to source control. I change classes, add new items. "Add" is disabled and there are not my changes in Version control window tool.
In logs I can see only warnings:
[code]

Maybe I do something wrong?

Also, does your plugin support Gated Check-in?

[2016-12-02 20:50] jpricketMSFT commented on #44
@bubblef - It looks like you are getting an error from the status command when it tries to parse the output from the command line. Did you change the command line client in any way? It could be a bug, but I am not seeing that error here. The log file should show the command line used to call status as well. Can you try running that command line directly and see what response you get?

No Gated Che

[2016-12-07 12:29] 00101010 commented on #24
Hi @leantk ,

I'm experiencing the same issue (freeze on [ Create Workspace ]).
- same 404 not found messages in the log file and 'endless' threadDumps-*.txt's - although I don't think the 404 not found messages are the source of the issue.

I debugged the plugin with the latest sources from GitHub and it always hangs when executing the following request (which btw works when pasting the URL into

[2016-12-07 16:20] leantk commented on #24
Hi @00101010,

Thanks for following up on this and taking the time to look into it yourself. Are you seeing this just in Android Studio or in IntelliJ as well? Could you send me a full log of your Create Workspace freeze please? My email address is leantk@microsoft.com if you don't want to attach here. The steps to get the log are here as the last FAQ: http://java.visualstudio.com/Docs/tools/intel

[2016-12-08 09:13] 00101010 commented on #24
Hi @leantk,

Thank you for your reply. I see this with Android Studio and IntelliJ. I'll send you an email with the log file attachted.

Thank you for your help

Regards
Michael

[2016-12-08 10:04] hironico commented on #26
Hello,
Having exactly the same problem +stacktrace using 2016.3 final.
I'm behind a proxy and inteelij is configured to automatically accept all certificates.
This issue should be reopen ????

[2016-12-08 10:37] hironico commented on #43
Apparently, un-authenticated proxies are supported according to the code in there :
[JaxrsClientProvider](https://github.com/Microsoft/vsts-authentication-library-for-java/blob/master/providers/src/main/java/com/microsoft/alm/provider/JaxrsClientProvider.java)
at line 252.

Use the following environment variables:
- http.proxyHost
- http.proxyPort

However, people (like me) behind authenticated pr

[2016-12-08 13:47] jpricketMSFT commented on #26
Yes, if you are behind a proxy, you are probably hitting issue #43.
Thanks for reporting your issue. If you can please add any details or logs you can contribute to issue #43.
Thanks,
Jason

[2016-12-08 14:17] yacaovsnc commented on #43
@hironico [#18](https://github.com/Microsoft/oauth2-useragent/issues/18)

If you are trying to connect to VSTS, authenticated proxy is not supported during oauth2 authentication process.  Once we are authenticated, we will use the credential to create a JAXRS client.   So it appears both places must support authenticated proxies.

[2016-12-08 20:02] bubblef commented on #44
Hi Jason,
Sorry for the delay.
No, I didn't change the command line client.
I create a new class (IDEA highlights it with a blue color). I run a command to get a status and I get only this:
`<?xml version="1.0" encoding="utf-8"?><status/>` (the same is in the log file)
So, there are no changes for VCS.
It is reproduced on Mac OS. I updated IDEA to 2016.3.

[2016-12-08 20:22] bubblef opened #46 "Failed to get authenticated jaxrs client"
Hi,
It seems my login session has expired (I'm not sure what went wrong)
and when I opened my project with enabled TFVC I get this exception:
[code]
I attached [the remaining part of the exception](https://github.com/Microsoft/vso-intellij/files/640492/stacktrace.zip)

[2016-12-12 18:59] jpricketMSFT commented on #44
Hi Kate,
Can you confirm if your workspace is a Server or Local workspace? We don't fully support Server workspaces yet. For Local workspaces, the status call should detect the new file and return it as a possible add.
Thanks,
Jason

[2016-12-12 19:11] leantk commented on #46
Hi @bubblef,

Sorry to hear you're having issues. If you could answer a few more questions for me, it would help me troubleshoot better. Have you rotated your credentials lately? Were you prompted to enter in credentials at all before that error occurred?

If you're credentials have changed or the authentication truly expired, you can clear out the old authentication info by opening up IntelliJ (o

[2016-12-12 19:30] lhuyviet opened #47 "Can't Create Workspace"
Hi,
Installed the plugin, but can't create a workspace.
Here are my step:
Start Android Studio
Select Check out project from Version Control
Select Team Service TFVC (Preview)
Select "Team Foundation Server" tab
Select a Repository
Check the box "Edit the workspace before getting sources"
Push button "Create Workspace"
and nothing happens.
Attached the idea.log
Regards,
Huy
[idea.zip](https://gith

[2016-12-13 18:07] leantk commented on #47
Hi Huy,

Thank for reporting the issue. When you say nothing happens, do you mean the Checkout dialog freezes or does it just disappear with no additional actions being taken? If it is freezing, we have a bug fix that hasn't gone out yet that solves a freezing issue some users have seen. I can give it to you as well to test to see if that solves the issue.

Thanks again,
-Leah

[2016-12-13 19:42] lhuyviet commented on #47
If I press one time the "Create Workspace" button, the Checkout dialog doesn't freeze or disappear. But it doesn't do anything. I can still press the Cancel button to close the dialog.

[2016-12-14 16:42] leantk commented on #47
Attached is the new plugin with the bug fixes to Create Workspace. Let me know if that makes a difference. If not, could you please send me the new log since I've added some new logging? Could you also try to create a workspace with and without the "Edit workspace before getting sources" checked? I want to see if you get the same behavior or not.

[plugin.idea-1.109.1-github-47.zip](https://github

[2016-12-14 16:44] leantk commented on #47
Also if you aren't sure how to install the plugin from a zip file, you jut have to go to File -> Settings and then the Plugins tab. There is an option "Install plugin from disk" that will let you select the zip file.

[2016-12-15 21:21] lhuyviet commented on #47
The plugin provided did solve the issue. But uncovered another issue, Once the project opened, all file are in read-only. When we try to edit a file, we will get a window that give option to clear the read-only status. But we can't select the option to use the version control integration.
![clearreadonlystatuswindow](https://cloud.githubusercontent.com/assets/24530787/21242465/736dc724-c2e2-11e6-8

[2016-12-16 16:21] fmonts opened #48 "Commit > select work items bugs"
There are 2 bugs in the dialog that let you select work items to link to a git commit:

1. Sorting by ID is wrong (I'd like to show newest first, but it looks like 100 < 11 < 110 < 12...)

2. When I select multiple choices with CTRL, some items (or all, sometimes), are selected wrong. For example I select 121, 131, 132, 133, 134, 135 and I click OK. In the commit message I get totally different on

[2016-12-16 16:26] jpricketMSFT commented on #48
@fmonts - Thanks for reporting these bugs. We will work on these as soon as we have time. I agree with your assessment of the second issue. It is most likely related to the sorting.
Thanks, Jason

[2016-12-19 04:12] chenlong0525 commented on #41
This problem still appears after the android studio  plugin update

[2016-12-20 18:05] jpricketMSFT commented on #41
@chenlong0525 - The current fix forces the CLC to use English when we call it from IntelliJ (this is a short term fix while we consider how best to change the CLC itself). It does this by passing some JVM options to the cmd/sh file thru environment variables. The latest version of the CLC has some script changes to make this work, but you can make the changes yourself to verify that this is the pr

[2016-12-22 12:35] mmajcica commented on #45
Hi @leantk,

I had a same issue as @nanhapy

The only thing I do see in the log is the following:
[code]

This was due to the heap memory. By default there in the tf.cmd you are starting the tool by requesting a heap of 2048MB. This is too much for certain machine (as in my case). I changed the -Xmx param to 512 and now is all working fine.

I hope this helps.

Mario

[2016-12-22 15:10] leantk commented on #45
Hi @mmajcica,

Thanks so much for trying that out and letting us know the results! That is something that we can look into changing permanently or at least warn the users about and let them know a solution. I appreciate the help.

Happy holidays,
-Leah

[2016-12-22 15:15] leantk commented on #45
@nanhapy,

If you are having the memory issue that @mmajcica described above, he solved it by opening the tf.cmd file (if on a Mac or Linux it would be the tf file). Look for the line that starts with "exec java -Xmx2048M" and change -Xmx2048M to -Xmx512M or at least a smaller size that is more suitable to your machine. Please let me know how this works for you.

Thanks,
-Leah

[2016-12-23 07:05] mmajcica commented on #45
@leantk

You are welcome. I would like to note also that I was running on Citrix and due to some limitations I went as far as setting it to 512. This however makes the plugin very, very slow. If possible a better, intermediate, option will be setting it to 1024M. Something user needs to try.

Cheers,
Mario

[2016-12-24 15:46] bubblef commented on #44
Hi, Jason!
I updated the plugin to 1.111.0 and I do not have any issues. It works well so far :smiley_cat:

[2016-12-24 15:55] bubblef commented on #46
Hi Leah,
Thank you for the answer. I cannot reproduce this issue anymore. Now it works well.

[2016-12-24 15:55] #46 closed

[2016-12-27 11:56] mmajcica opened #49 "TfsAuthenticator hangs the IDE"
With the version 1.111.0 of the plugin, I do see a strange behavior of the plugin. In case I do use VSTS Git source control in which I do authenticate on TFS, and then later I attempt to use TFVC, in case the authentication was already provided, IDEA IDE gets unresponsive and I do find following in my log:

[code]

In order to get it working I need remove the ServerContextState node from vsts_sett

[2016-12-27 14:42] leantk commented on #47
Hi @lhuyviet,

A new version of the plugin was released last week (version 1.111.0) should solve the issue you mentioned with the files being read-only. All workspaces should be local workspaces and by default a local workspace should be created but in some cases server workspaces were being created based on personal configurations. We force a local workspace to be created now so if you try to che

[2016-12-28 14:08] carloreggiani commented on #43
Hi @jpricketMSFT, any update?

[2016-12-28 16:26] leantk commented on #49
Hi @mmajcica,

Thanks for reporting the issue. There must be a problem where we reuse the login info from the Git repo for the TFVC repo since they share the same account. I'm taking a look at it and will see if I can reproduce the issue on my side. So just to clarify, you clone a Git repo and it works like expected but when you then go to clone a TFVC repo afterwards it hangs. At what point does

[2016-12-29 12:09] mmajcica commented on #49
Hi @leantk,

indeed. If I do first use Git and login, clone a repo and such. Next time I do try to select the TFVC from the main screen:

![2016-12-23 08_34_54-welcome to intellij idea](https://cloud.githubusercontent.com/assets/3026551/21543548/c81b829e-cdc7-11e6-9fa4-86f23628b16e.png)

Then the app gets stuck, I do NOT get to even see any other window.

The same goes vice versa in case I use the

[2017-01-01 14:16] mmajcica commented on #49
@volnoboy

I already mentioned a fix above in my first post:
In order to get it working I need remove the ServerContextState node from vsts_settings.xml file.

Once you remove all ServerContextState nodes from vsts_settings.xml file and restart IDEA, you will get prompted to authenticate again and it will work. Not an elegant way but it works.

Cheers,
Mario

[2017-01-01 15:15] volnoboy commented on #49
I cannot locate anywhere this file vsts_settings.xml?

[2017-01-01 16:19] mmajcica commented on #49
I have no pc access right now, however it should be in your user folder
under .idea folder somewhere (name of the folder may be different however
I'm sure it starts with a dot). Search for it.

Mario

On 01 Jan 2017 16:15, "volnoboy" <notifications@github.com> wrote:

[2017-01-02 09:49] mmajcica opened #50 "vso-intellij with TFS over https self-signed certificate"
Everyone,

as it took me a bit to understand how to get VSTS plugin for IDEA working with our TFS that is reachable only via https and uses a self signed certificate, I decided to share this experience with others. If interested and facing the same challenge, you can find a comprehensive guide here:

[Working with TFS in IntelliJ IDEA via VSTS Plugin](http://blog.majcica.com/2017/01/02/working-wit

[2017-01-02 09:52] mmajcica commented on #49
@volnoboy

If you still haven't found it (which I doubt :) ) here is the path in my case:

C:\Users\majcicam\.IdeaIC2016.3\config\options

where majcicam is my user profile folder and .IdeaIC2016.3 is specific to edition and version of IDEA I'm using. Adapt it for your case.

Mario

[2017-01-02 10:03] volnoboy commented on #49
Thank you. Now, I found it. I was looking into .idea in my project folder.

[2017-01-03 14:28] jpricketMSFT commented on #43
We are working on the proxy issues now. We hope to have them fixed soon and will release as soon as we have them in place.

Thanks,
Jason

[2017-01-03 15:58] leantk commented on #50
@mmajcica,

Thank you so much for this great blog post! We really appreciate you taking the time to document the steps you took to get the plugin working. Not only does this help other users but it also helps us identify pain points that we need to fix. You've been a great help.

Thanks again!
-Leah

[2017-01-03 16:03] leantk commented on #49
@volnoboy- we are still looking at fixing this bug permanently so you don't have this pain. We apologize. I will keep this issue updated on the progress. Thanks for your patience.

@mmajcica- thanks for pointing him to the workaround and the right path for the settings file. I'm still debugging the issue at the moment.

[2017-01-03 16:11] #47 closed

[2017-01-03 16:11] jpricketMSFT commented on #18
Closing due to no response

[2017-01-03 16:11] #18 closed

[2017-01-03 16:14] jpricketMSFT commented on #45
It appears that this issue was fixed by adjusting the jvm options set in the tf.cmd file. Closing.

[2017-01-03 16:14] #45 closed

[2017-01-03 16:15] jpricketMSFT commented on #44
This is awesome! Thanks for letting us know.

[2017-01-03 16:15] #44 closed

[2017-01-03 16:16] #41 closed

[2017-01-03 16:21] jpricketMSFT commented on #40
History for a particular file or folder and Rollback (called Revert in IntelliJ) are available in the latest release of the plugin. Look for the commands under the TFVC menu for an item.
Annotate is on the backlog.
Get specific version is under debate (leave it on the command line only or add options to the Sync dialog).
Keep an eye on the release notes to see when these other features come online

[2017-01-03 16:21] #40 closed

[2017-01-03 16:21] #36 closed

[2017-01-03 16:24] jpricketMSFT commented on #33
We added the ability to associate work items with your TFVC check in. It works the same as it does with Git. You can type in #bugNumber or you can select them from a list if you click on the add work items button.
We do not currently have the ability to "resolve" work items. We will probably add this when Git also supports the feature.

[2017-01-03 16:24] #33 closed

[2017-01-03 16:26] jpricketMSFT commented on #31
Please give remove a try again. We think we have fixed all the issues with that one.
We are still working on all the rename scenarios.

[2017-01-05 02:25] chenlong0525 commented on #41
After a few seconds, the tf.cmd window closes automatically

[2017-01-05 13:41] jpricketMSFT commented on #41
@chenlong0525 - Hi, can you elaborate on the problem? What tf.cmd window are you referring to? Is something not working the way you expect it to? Can you provide your IDEA logs?
Thanks,
Jason

[2017-01-05 17:16] leantk commented on #49
@mmajcica or @volnoboy,

I made a code change that fixes the issue for me but I couldn't get a true repro of the freeze so I was hoping maybe one of you could test it out for me if you are still having issues. I've attached the updated plugin build here. Please let me know if you see any change or the same thing.

[plugin.idea-1.111.1-freezeFix.zip](https://github.com/Microsoft/vso-intellij/files/

[2017-01-05 20:54] mmajcica commented on #49
@leantk

I just tried it on two machines, different test cases and it now works as expected.
In which version of the plugin will this fix end up?

Thanks

[2017-01-06 19:44] leantk commented on #49
@mmajcica it will be version 1.111.1 and I'm looking to release it next week. I'll update this issue once it's out there to download.

[2017-01-10 18:02] leantk commented on #49
I just released the fix under the version 1.111.1. Please reopen this issue if you see this behavior again but for now I'm going to close it since I've had 2 people verify it fixed the issue.

[2017-01-10 18:02] #49 closed

[2017-01-11 15:03] leantk commented on #31
Rename and delete has both been added to the plugin as of version 1.111.1. Please upgrade to that version and if you see any further problems, please reopen this issue.

[2017-01-11 15:03] #31 closed

[2017-01-17 03:22] SilverJan commented on #50
Thank you for the instructions. Please also mention that the cacert file is not always stored in the IntelliJ jre/-directory. For my case, it was the in the jre/-directory of my in PATH system env declared Java installation directory.

See the following MSDN blog post which refers to this issue too: https://blogs.msdn.microsoft.com/tfssetup/2016/12/19/error-ssl-certificate-problem-unable-to-get-lo

[2017-01-23 09:17] erikhubers opened #51 "TFVC: Annotate in Android studio"
Hi,

Are you planning to add the annotation feature? I noticed it's mentioned by jpricketMSFT
in https://github.com/Microsoft/vso-intellij/issues/40. But I'm really curious to know if there's any progress so far.

Kind regards,

Erik

[2017-01-23 11:35] Dark-Hippo commented on #43
Hi @jpricketMSFT, was just wondering if there was any update on this?

I'm assessing the plugin for use within a reasonably sizeable project, and it's pretty much perfect, but at the moment this issue is proving a major stumbling block.

Thanks
Tom

[2017-01-23 15:12] jpricketMSFT commented on #51
@erikhubers - it is on our backlog, but probably not the next thing we will work on.
Thanks for adding an issue specifically for this item. It will us keep track of it and give some insight for users.
Thanks,
Jason

[2017-01-23 15:14] jpricketMSFT commented on #43
@Dark-Hippo - So, I am working on this right now :)
We have a fix for On-Prem TFS servers, but it may not work with Hosted Team Services. Which are you targeting for this project?
Thanks,
Jason

[2017-01-23 16:57] erikhubers commented on #51
Great, thanks for the quick feedback. Would be really delighted when it's implemented.
Can't wait for the first stable TFVC version so we can finally jump the Intellij Ultimate 14 ship and join the Android Studio bandwagon :)

[2017-01-26 08:19] HackPoint opened #52 "kerberos in TFS2017"
We lately installed the TFS2017 that uses authentication kerberos protocol. The plugin is unable to connect because of it supports only NTLM.

The error I get **"connection reset"** - it is blocked on server handshake.
If more information is required please tell.

Thanks,
HackPoint

[2017-01-27 14:31] erikhubers opened #53 "TFVC: Android Studio Honour tfignore"
Hey there,

I noticed the Android Studio is constantly asking me to add files to TFS that I don't want to add to version control. It's not honouring the .tfignore file I configured to ignore certain files and placed alongside my build.gradle file. Is this a bug or isn't it supported yet?

![image](https://cloud.githubusercontent.com/assets/1276421/22374128/23cbb5f2-e4a5-11e6-8ebb-dbda80ae00ca.png)

[2017-01-27 19:09] madhurig commented on #52
@HackPoint: We are able to connect to TFS 2017 servers successfully. Can you please provide more details?
We have instructions on how to collect the logs at the end of this page [here](http://java.visualstudio.com/Docs/tools/intelliJ). If you could zip up the logs and attach them here or email leantk at microsoft.com, that will help.

Thanks,
Madhuri

[2017-01-31 21:07] venkatteshb commented on #48
TFS Version: 14.102.25423.0
Visual Studio Team Services plugin version: 1.111.1
IntelliJ IDEA 2016.3.3

Unable to select work items from queries in 'My Queries'. It says "Unexpected errors were encountered while loading work items. The list may not be complete" while in the "Work items" tab in the "9: Version Control" window. It was defaulting to the "Assigned to me" query in TFS, so I tried chang

[2017-02-01 09:29] erikhubers opened #54 "TFVC: Android Studio create second workspace on differenc PC"
Hey there,

Yesterday I tried to create a workspace on a different PC of the same repository I had on my main machine.
Unfortunately I was not able to create it because the tfs plugin was telling me there already was a workspace with the same name existing on this computer. Apparently the plugin can't differentiate between 2 workspaces on different machines.
Below a screenshot with the error messa

[2017-02-01 17:55] leantk commented on #54
Hi Erik,

Thanks for reaching out to us. When currently create your workspace, we name it after the directory name you chose which in this case is CC. TFVC does not allow you to create workspaces with the same name even if they are on different machines. Our error message is incorrect in stating that the existing workspace is on the current machine. To accommodate for the naming issue, we should a

[2017-02-01 18:05] leantk commented on #48
Hi @venkatteshb,

We have the Assigned to Me query hard coded so even if you change it through the browser it won't make a difference. Do you see any work items appear in the tab? If so, can you right click on them to see the dropdown menu? Would you be able to send us a log of this error? You can follow the directions given in the last FAQ [here ](http://java.visualstudio.com/Docs/tools/intelliJ#

[2017-02-01 18:07] leantk commented on #24
This has been followed up offline and the fix has been released. If you are still seeing the problem please feel free to repoen the issue.

[2017-02-01 18:07] #24 closed

[2017-02-01 21:27] erikhubers commented on #54
Hey leantk,

Thanks for your quick response and clear explanation of what's the origin of this limitation. Your workaround worked perfectly. It's a pretty good workaround for now.

Since we're on the topic of creating workspaces using Android Studio I would like to suggest another small feature. When creating a workspace in Visual Studio and adding the first mapping you get the following dialog wh

[2017-02-03 17:53] leantk commented on #54
Hi Erik,

Thanks for that feedback! You aren't being demanding at all. We want to hear what the users want so we can make a better plugin for you so please keep the suggestions/comments/bugs coming. I was unaware of that feature in Visual Studio so I will take a closer look at it and add it as a feature request on our backlog. I'll keep this issue open as an enhancement so you can track it on your

[2017-02-07 10:51] Hirr0 commented on #25
With verison 1.111.1 it works. Only one nuance: In JetBrains Rider - works out of the box, but in IntelliJ or WebStorm i have to change **java -Xmx2048M** to **java -Xmx512M** in tf.cmd file . Can't understand why, because i have 16GB memory on my machine and half of it is free.
Close please, if it's needed. thank you.

[2017-02-07 16:27] leantk commented on #25
Thanks for validating the fix and letting me know about the difference between Rider/IntelliJ/WebStorm. I will look into that and see if I can figure out why the memory would need to be changed.

[2017-02-07 16:27] #25 closed

[2017-02-07 19:06] leantk commented on #43
We just released version 1.113.0 of the plugin which has support proxies set in the IDE. The settings page for this is in Preferences/Settings -> Appearance & Behavior -> System Settings -> HTTP Proxy. If you enter in your proxy info there the plugin will pick it up. Please let me know if this solves the issue for you.

[2017-02-08 09:22] carloreggiani commented on #43
Hi @leantk , plugin updated in IntelliJ IDEA Community Edition 2016.3, corporate proxy configured and tested in IntelliJ settings, always the same error for login on Visual Studio Online to https://login.microsoftonline.com/common/oauth2/authorize?resource=.....

[2017-02-08 11:20] apsuch-cont opened #55 "android studio- VSTS fails to connect while using organizational network"
We are using android studio and the Microsoft managed VSTS Plugin to connect. This works fine when on an open internet connection however when connecting via out work proxy we are unable to connect. We can still access VSTS via a browser even through the proxy. Just the connect through the plugin does not work.

Our organisation uses ADFS authentication.

We have tried the following to no avail:
1

[2017-02-08 13:53] leantk commented on #43
Hi @carloreggiani thanks for letting me know about the issue. Would you be able to send me a log please so I can see what exactly is happening in the background? You can follow the last FAQ at this link to get the log: http://java.visualstudio.com/Docs/tools/intelliJ#_frequently-asked-questions-faq
If you'd rather not post the log on here feel free to email it to me at leantk@microsoft.com.

Thank

[2017-02-08 13:58] leantk commented on #55
Hi @apsuch-cont,

Sorry you're having trouble. Thanks for reporting it. Would you be able to send me a log of the error please? It should help me to see where we are going wrong. Follow the last FAQ at this link for how to get the log: http://java.visualstudio.com/Docs/tools/androidstudio#_frequently-asked-questions-faq
If you don't want to post the log here, feel free to email it to me directly a

[2017-02-08 14:02] leantk commented on #48
@fmonts the latest release of the plugin 1.113.0 has the fixes for this. Thanks for reporting the problems and let us know if you see anything else.

[2017-02-08 14:25] carloreggiani commented on #43
Here the IDE Fatal Error info (I'm sendind the log to you):

`getAuthenticationInfoAsync failed: Failed to get authenticated jaxrs client.
com.microsoft.alm.oauth2.useragent.AuthorizationException: Code: Failed to get authenticated jaxrs client.
	at com.microsoft.alm.plugin.authentication.facades.VsoAuthInfoProvider.getAuthenticationInfoAsync(VsoAuthInfoProvider.java:153)
	at com.microsoft.alm.plu

[2017-02-08 14:29] ybjoony opened #56 "Any plans to support previous versions of TFS?"
My team has TFS 12, and it would be nice if I can use this tool to connect to the server.

[2017-02-08 15:11] fmonts commented on #48
Thank you, it seems fixed but there is a regression: now I see only 16 work items (I have hundreds). Even if I search for a work item that exists, it doesn't find it

[2017-02-10 14:54] b0rke5 commented on #55
Hi!
The same problem even on open network on a new version.
Version: 1.113.0

After login to TFS no matter if it is Import to TFSC Git/TFSC Preview or checking out from TFSC we get a same RuntimeExc in Android Studio:

17:38:56 Plugin Error: Visual Studio Team Services threw an uncaught RuntimeException. Disable Plugin
17:38:56 RuntimeException: getAuthenticationInfoAsync failed: Could not find an

[2017-02-10 16:51] apsuch-cont commented on #55
Hi Leah,
I have shared the log on mail please suggest.

[2017-02-13 15:48] jpricketMSFT commented on #48
@fmonts - This was another fix that we made. You should only see work items that are not "closed" in the list now. Let me know if there is a scenario where you want to see those items in the list as well or if you don't see items that should be in the list.

Thanks,
Jason

[2017-02-13 16:11] fmonts commented on #48
It happens to make small changes or hotfixes to features already closed, and to not reopen them just for laziness, but it makes sense

[2017-02-13 16:17] fmonts commented on #48
Anyway not only closed work items are missing, but also those in custom columns (for example I have one with "State mapping: New", but I don't see its work items)

[2017-02-13 17:42] leantk commented on #55
I'm taking a look at this now. Thanks for sharing the logs. I'll let you know what I find as soon as I can. I apologize for the inconvenience.

Thanks again,
-Leah

[2017-02-14 07:20] VishalBPatel opened #57 "Connect Android Studio to Team Foundation Version Control"
When I connect android studio with Team Foundation Version Control Preview I get following error

Plugin Error - visual studio team service threw an uncaught exception RunTimeException.

Also some user also get the same error.You can see that error in following URL.

http://stackoverflow.com/questions/39798652/connect-android-studio-to-team-foundation-version-control

Thanks.

[2017-02-14 14:31] leantk commented on #56
Hi @ybjoony,

Thanks for your input. At the moment we do not have immediate plans to add support for earlier versions of TFS but if we keep hearing from customers like you that it's what you want, then we can prioritize it accordingly. We already have an open issue on User Voice to track it's popularity. If you go to [this link](https://visualstudio.uservoice.com/forums/330519-team-services/sugges

[2017-02-14 15:03] leantk commented on #55
The "Could not find any accounts" was caused by a server side bug that is now fixed. If you try to authenticate now, you should be able to do so without issue. I'm closing this issue as resolved since I've had verification from @apsuch-cont that it worked.

@b0rke5 if you are still seeing issues please feel free to reopen this.

[2017-02-14 15:03] #55 closed

[2017-02-14 15:14] leantk commented on #57
Hi @VishalBPatel,

Could you do me a favor and send me the Android Studio log which will contain more information please? You can get the log by following the steps in the last FAQ here:
http://java.visualstudio.com/Docs/tools/androidstudio#_frequently-asked-questions-faq

You can attach the log to this issue or email me at leantk@microsoft.com if you'd rather not post it.

Thanks,
-Leah

[2017-02-15 15:53] leantk commented on #48
Hi @fmonts,

I'm trying to reproduce your issue. So you have some work items in a custom column you made on your board that aren't showing up for you? What type of work item are they? Do you remember seeing them before the last plugin update? Could you do a test for me on one of the missing work items please? In your browser paste the following link but insert your account URL and work item number

[2017-02-15 17:05] fmonts commented on #48
No, there is no closedBy but I found out why, it's because of: ````where system.assignedto = @me````

Since they are new, some of them aren't yet assigned to anybody, so it's always been like this and I didn't notice.

Thank you very much for your work.

[2017-02-15 17:05] #48 closed

[2017-03-01 09:47] shanalishams opened #58 "Unable to authenticate to Team Services. Verify your network connection, credentials for you microsoft account and try "sign in" again"

[2017-03-01 09:53] shanalishams commented on #58
For log details view the file below
[idea.log.txt](https://github.com/Microsoft/vso-intellij/files/810266/idea.log.txt)

[2017-03-01 18:39] leantk commented on #58
Hi @shanalishams,

I'm sorry to hear about issue, but thanks for providing the log. It looks like you're getting accessed denied for browsing repositories so let's try a test if you can access a single repository instead of browsing a bunch. Instead of going to the Team Services tab in the Checkout menu, go to the Team Foundation Server tab (see the picture below). If you are trying to checkout a

[2017-03-07 13:01] bubblef opened #59 "Grey unclickable icon and extra tabs (IDEA)"
Hi!

My project is not under VCS, but when the plugin is installed and enabled, an unclickable icon appears in IDEA's status bar.
If my project is under VCS, but not Team Services Git/TFVC, there are Pull Requests/Work Items tabs in the Version Control tool window.
Could you please hide all of them in such cases?
![2017-03-07_15-44-41](https://cloud.githubusercontent.com/assets/22168773/23657036/3

[2017-03-07 13:26] bubblef opened #60 "It takes 5 seconds to add a new class to TFVC (IDEA)"
Hi!

Adding a new class to TFVC takes up to 5 seconds. It does not feel great. I attached [log.txt](https://github.com/Microsoft/vso-intellij/files/824459/log.txt). What can be wrong?

This progress bar appears for every VCS action.
![2017-03-07_16-14-37](https://cloud.githubusercontent.com/assets/22168773/23657979/c68f8c4e-0351-11e7-96ce-df9c0c4cd169.png)

[2017-03-07 18:12] leantk commented on #59
Hi @bubblef,

Thanks for the suggestions. I see why that would be bothersome if you weren't using a Team Services repository but could see the icons for it. I will add this to our backlog to fix. I'll keep this issue open and update it when the work is done and released.

Thanks again for reaching out,
-Leah

[2017-03-07 18:17] leantk commented on #60
Hi @bubblef,

It looks like you are using the 14.0.3 version of our command line client. The plugin calls out to that to perform the TFVC actions. Some performance improvements have been made in more recent versions of it. Would you mind trying to use the latest 14.111.1 version found at the link below and see if that helps improve the timing at all? If not, please let me know so I can further inv

[2017-03-07 19:50] bubblef commented on #59
Thank you!

[2017-03-07 20:40] bubblef commented on #60
Hi Leah,
I've tried it with the 14.111.1 version, but unfortunately it doesn't help.

[2017-03-09 09:12] bubblef opened #61 "Exception occurs in plugin after authorization (IDEA)"
Hi,

When the window "Import project into Team services" is opened, this exception occurs
`com.intellij.ide.ui.laf.darcula.DarculaUIUtil.paintFocusRing(Ljava/awt/Graphics;IIII)V
java.lang.NoSuchMethodError: com.intellij.ide.ui.laf.darcula.DarculaUIUtil.paintFocusRing(Ljava/awt/Graphics;IIII)V
at com.microsoft.alm.plugin.idea.common.ui.controls.Hyperlink.paintComponent(Hyperlink.java:80)`
Steps: Op

[2017-03-09 15:08] leantk commented on #60
Ok then I will log this as a bug on our end. Thanks for trying the update though. We have performance improvements planned for the command line client but hearing about experiences like this helps us prioritize the work better.

Thanks again,
-Leah

[2017-03-09 15:26] leantk commented on #61
Hi @bubblef,

What version of IDEA are you using? I haven't seen this issue with the 2016 version but I just installed 2017 and I see the same exception. It looks like a method we were calling was removed in the new version so thanks for catching that. This is pretty serious so I'll work on getting the fix in ASAP. I'll update this issue when the fix is released.

Thanks,
-Leah

[2017-03-09 19:21] leantk commented on #61
The fix for this was made in commit https://github.com/Microsoft/vso-intellij/commit/cf0ef2b68d130e98be18af97a1c7e53ba0719974

[2017-03-09 19:58] leantk commented on #61
I just released version 1.115.1 of the plugin with the fix. Please let me know if that fixes your issue.

Thanks!
-Leah

[2017-03-10 14:33] bubblef commented on #61
Hi Leah,
I don't have this exception in the latest version. Thanks for the quick fix.

[2017-03-10 14:33] #61 closed

[2017-03-12 10:07] shalupov opened #62 "The plugin requires admin privileges (elevation prompt) at startup"
Current plugin version uses regedit.exe to register protocol handler for vsoi urls.
Unfortunately it 1) uses regedit.exe which requires elevation prompt 2) registers protocol handler system-wide, not per user.

Since IDE could be installed per user basis and using of TFS plugin is ultimately user choice I suggest to register protocol handler in HKCU and use "reg.exe import" to import .reg file.

W

[2017-03-13 19:01] leantk commented on #43
Since we fixed this offline I'm going to close the issue. If more help is needed though, please feel free to reopen this.

Thanks,
-Leah

[2017-03-13 19:01] #43 closed

[2017-03-13 20:31] leantk commented on #59
Hi @bubblef,

I made the change in commit https://github.com/Microsoft/vso-intellij/commit/e204b0bffe12e64793958b4dedcb5f458b993933 to hide the tab/icon in Rider. In the case where the plugin would be pre-installed, hiding them makes perfect sense since they won't necessarily be using VSTS. When the plugin is manually installed in other IDEs we can assume they have a VSTS account and give them the

[2017-03-14 15:42] leantk commented on #62
Hi @shalupov,

Thanks for the recommendations for the fix. You can see the changes at this commit https://github.com/Microsoft/vso-intellij/commit/26e3a30c2b1e4af69b0d26df03aadafe69b106a9. I have tested them out and do not see the elevation prompt anymore during install and the protocol handler still launches correctly from the browser.

Thanks again,
-Leah

[2017-03-15 21:39] bubblef commented on #60
Hi Leah,
It's reproducing on MacOS and on Windows as well.

[2017-03-16 15:57] bubblef commented on #59
Hi Leah,
Thanks for the fix. I checked it in 1.115.2. The tabs/the icon are hided, but I noticed this icon in Commit Changes dialog. Could you please hide it too?
![2017-03-16_17-30-57](https://cloud.githubusercontent.com/assets/22168773/24005047/fb4554e0-0a78-11e7-9680-9462712787a5.png)

[2017-03-16 16:37] leantk commented on #60
Ok I made some changes to the plugin that caused me to see performance improvements on my Mac. Could you test this out and let me know if you see any difference please? (Make sure you are still using the 14.111.1 or higher version of the CLC or it won't work)

Thanks,
-Leah
[plugin.idea-1.115.3.zip](https://github.com/Microsoft/vso-intellij/files/848387/plugin.idea-1.115.3.zip)

[2017-03-16 21:01] leantk commented on #59
Yep good catch. I forgot about that. I hid it in this commit https://github.com/Microsoft/vso-intellij/commit/895b0951497d0ee516786632be66263f3ff041e8

[2017-03-17 18:07] pwaslen opened #63 "error connecting to TFS using Visual Studio Team Services Plugin for IntelliJ"
I am not able to connect to my tfs server using Visual Studio Team Services Plugin for IntelliJ .  I was able to a few times and then it just stopped working.  See log snippet below:

-17 10:41:59,003 [2406433]   INFO - in.events.ServerPollingManager - Timer fired
2017-03-17 10:41:59,003 [2406433]   INFO - ugin.events.ServerEventManager - triggering ALL events
2017-03-17 10:41:59,003 [2406433]   I

[2017-03-19 08:10] mahmed1987 opened #64 "Cant see TFVC option under VCS in new Android Studio"
I updated my android studio . It was a major update since it took like half an hour. my Android studio version is 2.3. Here are the more verbose details of the version I am running.

Android Studio 2.3
Build #AI-162.3764568, built on February 24, 2017
JRE: 1.8.0_112-release-b06 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

I installed the latest plugin for Team foundation services via th

[2017-03-19 11:50] niiiksh opened #65 "TS plugin requires Git when I want to select Work items on commit using TFVC (not Git)"
Following error appears: "The Team Services plugin requires Git settings to be configured. Fix the Git Version Control settings to point to a valid Git executable." I use TFVC repo but this option asks me to install Git.

[2017-03-20 13:26] msurato opened #66 "VSTS work item with non-VSTS Git"
The group I am working with would really like to track work items in VSTS. However, due to technical reasons (https://visualstudio.uservoice.com/forums/330519-team-services/suggestions/3895135-add-server-side-git-hooks), they cannot use VSTS Git. Is there a way to implement VSTS work items with a non-VSTS Git server? If not, could this be implemented?

Thanks!

[2017-03-20 13:51] jpricketMSFT commented on #65
@niiiksh - this seems like a bug. We will try to investigate and fix this as soon as possible.
Thanks for reporting this issue.

[2017-03-20 14:55] niiiksh opened #67 "Unable to import the project using TFVC"
I'm trying to import my project to Team Services TFVC but the following error appears: "Error:An argument error occurred: The workspace could not be determined from any argument paths or the current working directory."
Steps:
1. From Android Studio with installed VSTS plugin using TFVC only (no Git installed) create new project
2. VCS - Enable Version Control Integration - TFVC
3. Checkout from Ve

[2017-03-20 18:11] jpricketMSFT commented on #67
@niiiksh - Can you provide some additional information? When you say "Update Project", do you mean the TFVC Update menu item that does a TF Get command? Can you share your intellij log file? If you don't want to share it here, you can send it to me at jpricket <at> microsoft.com.
Thanks,
Jason

[2017-03-20 18:17] niiiksh commented on #67
"Update Project" is an option on the VCS menu in Android Studio.
There is all my logs when I tried to use TFVC on VSTS plugin.

[idea.log.zip](https://github.com/Microsoft/vso-intellij/files/855950/idea.log.zip)

[2017-03-20 18:53] jpricketMSFT commented on #67
@niiiksh - the log indicates that the command line cannot determine the workspace. Our plugin uses the root folder of the Android Studio/IntelliJ project to call the command line and get the workspace information. Can you try opening a command prompt, navigating to the root folder and running "c:\tee-clc-14.114.0\tf.cmd workfold". If that doesn't provide the workspace name and collection url, you

[2017-03-21 10:44] Michael2109 commented on #58
We've been experiencing the same issue here. I can log into VSTS fine using my browser but if running through intellij using "Checkout from Team Services" it will throw the error. This also means pull requests are unable to be made etc.

We use a proxy here and it seems the most likely reason for this not working correctly.

[2017-03-21 11:11] Michael2109 opened #68 "Failed to create pull request"
[code]
When creating a pull request a window will appear (I'm assuming to type in the credentials) but it closes before displaying anything. After this an Authorization Exception is shown in the Event Log.
[code]
We are using a proxy so this may be the cause of this issue.

[2017-03-21 13:06] niiiksh commented on #67
@jpricketMSFT it works now. I've checked out project without files from TFVC and it asked me to create new project, I clicked "yes" and then just copied my created project to the new project folder. Now I'm able to check in files to the version control. But this experience wasn't good. This plugin should import current project to TFVC in one click and ignore files that contains project settings fo

[2017-03-21 15:38] yacaovsnc commented on #68
Hi @Michael2109, does your proxy server require authentication?

What is your java version and OS?  I want to figure out why the browser auto closes, sounds like it crashed.

If this is a proxy issue, you may take a look at #43, I believe the proxy setting will be propagated to the browser window (which is the one that auto-closed).  If your proxy requires authentication, we may need to setup devi

[2017-03-21 15:59] Michael2109 commented on #68
Using Java 1.8.0_111 and Windows 7.

The proxy requires authentication. I've added the proxy settings in "Appearance & Behavior -> System Settings -> HTTP Proxy" and checked the connection but the issue still occurs.

I was thinking that if the browser tried opening without using the proxy authentication it possibly could cause it to break down.

I did see #43 but was a bit unsure as to why it was

[2017-03-21 16:14] yacaovsnc commented on #68
The underlying browse window doesn't support authenticated proxy due to [#18](https://github.com/Microsoft/oauth2-useragent/issues/18).

To fallback to device flow, you can add this __-DuserAgentProvider=none__ to your idea.exe.vmoptions (or idea64.exe.vmoptions, I modified both) file:
![image](https://cloud.githubusercontent.com/assets/10119737/24157301/6929e976-0e2f-11e7-918e-fb89a05306eb.png)

[2017-03-21 16:43] Michael2109 commented on #68
I've added the line to both the 32bit and 64bit versions and restarted twice now. The dialog box doesn't seem to appear and instead it opens with the original browser.

[2017-03-21 17:12] yacaovsnc commented on #68
Hmmm, this is odd.   How about if you create a custom VM Options file and add the setting there?

![image](https://cloud.githubusercontent.com/assets/10119737/24160303/caf5cc8a-0e37-11e7-9550-b06e8fa513d3.png)

[2017-03-22 09:35] Michael2109 commented on #68
This option is grayed out as we use a version of IntelliJ that has been changed by the company we are working with sorry. Are there any other methods of getting around this?

[2017-03-22 15:40] yacaovsnc commented on #68
Ah, unfortunately currently the behavior can only be altered by properties.  If your intelliJ instance is shielded from altering properties, we can't launch this device flow.

I will have to discuss internally on how to proceed at this point.  It appears we must find an alternative to expose this setting.

[2017-03-22 16:06] Michael2109 commented on #68
Okay thanks for your help!

[2017-03-23 05:11] Kamilsz commented on #58
I have exactly the same problem. I have even added '-DuserAgentProvider=none' to my idea64.exe.vmoptions file to authenticate via browser.

1.
![1](https://cloud.githubusercontent.com/assets/3039025/24232926/95ada2b2-0fe2-11e7-9f0e-f034d0051da1.PNG)

2. After I successfully authenticate in the browser:
![2](https://cloud.githubusercontent.com/assets/3039025/24232941/9e715ace-0fe2-11e7-9a6a-a17d766

[2017-03-23 13:30] yacaovsnc commented on #58
@Kamilsz Can you please follow the last question on this [FAQ page](http://java.visualstudio.com/Docs/tools/androidstudio#_frequently-asked-questions-faq ) to collect the log and provide it?

[2017-03-23 18:09] willypowwow commented on #58
I have the same issue as @shanalishams.   As suggested by @leantk I am able to access the Repository when using the Team Foundation Server tab and entering my Git repository url.

![image](https://cloud.githubusercontent.com/assets/7863440/24263037/31a90ff0-0fb9-11e7-9bcb-d78e5d7c3b50.png)

[2017-03-23 23:41] Kamilsz commented on #58
[idea.zip](https://github.com/Microsoft/vso-intellij/files/866471/idea.zip)
@yacaovsnc Please find my log attached.

[2017-03-24 00:38] Kamilsz commented on #58
I've just resolved my issue by running git config --global http.proxy command in git bash. After setting up my proxy directly in git rather than Intelliij Team Services plugin managed to connect to the repo.

[2017-03-24 14:31] leantk commented on #67
Hi @niiiksh,

I'm marking this as a feature request and will leave this issue open to track it. Thanks for the feedback.

-Leah

[2017-03-24 14:34] leantk commented on #66
Hi @msurato,

I'm sorry to say but currently the work item feature only works with repositories that are VSTS. I'm going to add this request to our feature backlog and leave this issue open as an enhancement to track the work.

Thanks for the input,
-Leah

[2017-03-24 14:53] leantk commented on #63
Hi @pwaslen,

I'm sorry to hear you're having trouble. It looks like you are having issues authenticating with your TFS server. Has anything changed with it recently or have credentials been rotated? Are you ever being prompted for a username/password?

If something has changed with your TFS server, you made need to delete the cached configurations in the IDE. Go to File -> Settings and navigate t

[2017-03-24 15:04] leantk commented on #58
Just to recap who is unblocked and still blocked (I just don't want to miss anyone):
@Kamilsz and @willypowwow are unblocked
@Michael2109 and @shanalishams still need help correct?

@Michael2109, you mentioned you're using a proxy and getting an error. What error is it? Did you setup your proxy in the IntelliJ Settings menu for proxies?

Thanks everyone,
-Leah

[2017-03-24 15:21] leantk commented on #64
Hi @mahmed1987,

The TFVC menu only appears when a TFVC project is open. Android Studio is identifying your current project as Subversion instead of TFVC. That's why the menu isn't there. If this project truly is TFVC and not Subversion, you can open the vcs.xml file under the .idea directory and make the change there. You will see the line _<mapping directory="" vcs="Subversion" />_ (or something

[2017-03-24 19:55] DavidStaheli commented on #53
Hi @erikhubers, we've been unable to reproduce this.  I'll close the issue for now, but please re-open if you have additional info.  Thank you for reporting the problem.  We're anxious to fix it if we can.

[2017-03-24 19:55] #53 closed

[2017-03-24 22:56] Michael2109 commented on #58
The proxy is set up in the IntelliJ settings menu. The error  is when creating a pull request it fails. If I try to checkout then when I sign in it breaks down as it tries to access the authentication page.  Check #68 for more all details of what's been tried etc.

[2017-03-26 12:51] shalupov commented on #62
Thanks!

[2017-03-26 12:51] #62 closed

[2017-03-29 16:25] eugenschindler opened #69 "Error installing plugin into JetBrains MPS"
System: Windows 10, JetBrains MPS 3.4.3
When I install the plugin from the plugin repository and restart MPS, then I get the following error message:
![image](https://cloud.githubusercontent.com/assets/6429350/24465113/481a7b8c-14ac-11e7-9f1c-b2a2184fdfa5.png)
In order to fix this error with the installed plugin, I had to do the following:
 * Download slf4j manually
 * Remove the line com.microsof

[2017-03-29 19:46] eugenschindler opened #70 "Only git repositories are shown"
When connecting to a TFS server, no team projects are shown and also no TFVC repositories. The only thing the server shows are the available git repositories on the server (without showing to which team projects they belong). This makes the TFVC repositories inaccessible from IDEA and/or MPS.

[2017-03-30 15:39] jpricketMSFT commented on #69
@eugenschindler - thanks for reporting the issue and your work around. We don't package slf4j with our plugin because IntelliJ Community edition and most other JetBrains IDEs built on IntelliJ already have it installed. We will try to work with the JetBrains folks to figure out how best to handle this problem.

Thanks again,
Jason

[2017-03-30 15:46] jpricketMSFT commented on #70
@eugenschindler - Can you describe exactly what steps you are taking in the UI? Are you starting from the Checkout from Version Control menu? There should be 2 options there, Team Services Git and Team Services TFVC. If you choose Git, we only show Git repositories. If you choose, TFVC we show TFVC repositories. Is this the source of the confusion? If the git repository name is not unique, the Tea

[2017-03-30 16:26] eugenschindler commented on #70
Hi @jpricketMSFT,

Thanks for your quick reply.
I just installed the plugin from the JetBrains repository (version 0.92.1 from 2015). And now I see it: when I try to check out using the TFS plugin, I only get an option to check out from git:
![image](https://cloud.githubusercontent.com/assets/6429350/24514693/73667dc6-1575-11e7-89b9-b34f474d1e2b.png)
Could it be that the "old" version in the plugi

[2017-03-30 16:54] eugenschindler commented on #70
Never mind, I found the newest binary version on https://plugins.jetbrains.com/plugin/7981-visual-studio-team-services. And indeed, the older version (which is the default available version when searched from inside the MPS tool) doesn't have TFVC capability, only git. You may want to update this default to a newer (the newest?) version.

[2017-03-30 16:59] #70 closed

[2017-03-30 20:09] eugenschindler opened #72 "MPS files ignored by the plugin"
When using the plugin with JetBrains MPS, then only java files are shown as changed files. The MPS files (*.mps, *.msd, *.mpl) seem to be completely ignored and thus it is impossible to see how the working copy of these files changed with respect to the checked-in versions.
I tried looking for settings in the plugin, but wasn't able to find anything about files or file extensions that are not cons

[2017-04-02 18:26] bubblef commented on #60
Hi Leah,
Sorry for the delay.
The plugin's performance is better with the 1.115.3 version. It takes 2-3 seconds to add a new file.

[2017-04-06 17:59] leantk commented on #60
Good to hear @bubblef. I'll close this issue then but if you see anymore performance problems please feel free to reopen this.

[2017-04-06 17:59] #60 closed

[2017-04-06 18:36] leantk commented on #72
Hi @eugenschindler,

I'm sorry to hear about your issue. I tried to reproduce your issue in MPS 2017.1 (I saw from another issue you're using 3.4) but I get all my mps files to show up changed in the Local Changes window. Could you do me a favor please and drop down to the command line and run a "<path to the tfs command line tool>\tfs.cmd status" from inside your project directory? I want to see

[2017-04-06 18:51] leantk commented on #69
Not that we won't look at this further, but MPS 2017.1 comes with slf4j packaged with it. If you don't want to deal with downloading the slf4j jar and adding it to MPS yourself, I would suggest upgrading to that version for now.

[2017-04-06 18:56] leantk commented on #59
The fixes for this have been released so I'm closing this issue. If you still are able to see VSTS icons in non-VSTS projects please feel free to reopen this.

[2017-04-06 18:56] #59 closed

[2017-04-06 19:04] leantk commented on #58
Hi @Michael2109,

I was looking at the other issue you referenced and if you're using an authenticated proxy, at the moment we don't support. It's on our backlog and I apologize. I'll keep these issues updated once that gets implemented.

Sorry for the trouble,
-Leah

[2017-04-06 20:19] Michael2109 commented on #58
Hi @leantk,

It would be great to use this in our company so I'd be happy to test it as soon as it is supported!

Thank you for letting me know.

Michael

[2017-04-11 19:01] yacaovsnc commented on #68
The latest 1.116.1 plugin should search for a setting file in addition to the vmoptions file.  On Windows system, it searches for the file at:
`%LOCALAPPDATA%\Microsoft\VstsAuthLib4J\settings.properties`

On my system:
`2017-04-11 14:54:19,958 [  87002]   INFO - oft.alm.helpers.SettingsHelper - Searching for C:\Users\yacao\AppData\Local\Microsoft\VstsAuthLib4J\settings.properties`

The content of

[2017-04-12 09:49] Cedware opened #73 ""Performing VCS refresh..." - Dialog stays active for minutes"
When I'm trying to commit changes to TFVC aDialog shows up, which cintains the message "Performing VCS refresh...", most times the dialog stays there for a very long time until the checkin dialog gets opened.
![Screenshot](https://cloud.githubusercontent.com/assets/13673693/24951822/f256edc8-1f75-11e7-875f-def4830d14f5.PNG)
I don't have this problems with other Version controll systems, so I think

[2017-04-12 13:16] eugenschindler commented on #72
Hi Leah,
Thanks for your quick reply and all the information provided. It seems that we misconfigured the VCS root. With TFVC it works a bit different that with git apparently. Using tf.cmd was very helpful as well with debugging commit problems that we had due to a custom policy on the TFVC server side.
With the new version (116), everything seems to work quite fine and performance also has impro

[2017-04-12 13:16] #72 closed

[2017-04-12 13:18] eugenschindler commented on #69
OK, thanks. If you checked 2017.1, I believe you that it will work :)
Currently, the team I work with cannot switch immediately to 2017.1, but the workaround will do fine for now, so for me it's not an issue. Do you want me to keep it open for MPS 3.4 or shall I close it?

[2017-04-12 13:18] #69 closed

[2017-04-12 13:29] leantk commented on #73
Hi @Cedware,

Do you know what version of the TF command line and version of the plugin you are using? Also what OS are you on?

Thanks,
-Leah

[2017-04-12 13:48] Cedware commented on #73
Plugin: 1.116.1
TF command line:  14.114.0.201703081734
I'm running on Windows 7 Professional

[2017-04-12 13:53] leantk commented on #73
Thanks for the quick response. We were seeing performance issues on older TF and plugin versions but you have the latest. Would you mind sending me a log of you performing a commit so I can try and track down what exact call is taking so long? You can get a log by following the last FAQ here: http://java.visualstudio.com/Docs/tools/intelliJ#_frequently-asked-questions-faq

Thanks again,
-Leah

P.S

[2017-04-15 19:35] niiiksh opened #74 "Import into TFVC option"
I'm new in Android Studio and I want to use TFVC. In Visual Studio it was pretty easy to upload solution into TFVC but in Android Studio plugin I don't see this option. How am I supposed to do it and why it is still not available?

[2017-04-17 18:08] leantk commented on #74
Hi @niiiksh,

About how many files are you adding that causes you to see this? When you say the process never ends, do the files never get added as well or does the status bar in the IDE ever go away? Could you send me a log of this happening please? You can follow the last FAQ here to get the log: http://java.visualstudio.com/Docs/tools/intelliJ#_frequently-asked-questions-faq

Feel free to email

[2017-04-17 19:23] leantk commented on #58
Hi @Michael2109,

We had an update to test device flow with authenticated proxies that Yang posted on your other thread https://github.com/Microsoft/vso-intellij/issues/68#issuecomment-293367782

Let me know if this changes anything for you.

Thanks!
-Leah

[2017-04-17 22:18] niiiksh commented on #74
@leantk I need to repro this issue again to get the log. I'll do it later. I can say it was 53 files to add (it was a new project with .tfignore file).

[2017-05-04 16:07] cmatos23 opened #75 "Allow ability to attach multiple work items to same branch"
It would be nice when creating a branch to have the option to link it to multiple work items at once.

Thanks.

[2017-05-07 20:38] bubblef opened #76 "Unsigned vsoi app ?"
Hi!
On Mac when opening Rider with the bundled plugin I get a warning:
![2017-05-07_16-25-20](https://cloud.githubusercontent.com/assets/22168773/25784894/8bda3804-337d-11e7-9ee3-d229f2548fe3.png)
Looks like vsoi app is unsigned.

[2017-05-07 22:12] bubblef opened #77 "High CPU usage if there is no Internet connection"
Hi!
If I turn off the internet connection CPU usage goes up too high in 10-20 seconds. It seems the plugin can cause this. When I disable the plugin, CPU/disk usage goes down. Here is a [snapshot](https://github.com/Microsoft/vso-intellij/files/981968/RS-171.4456.67_admin_05.05.2017_17.59.41.zip) created with Yourkit 2016.2.

It is reproducible both in IDEA and Rider on Windows and MacOS.

[2017-05-08 15:19] yacaovsnc commented on #58
Closing for inactivity.

This issue is tracked in #68.

[2017-05-08 15:19] #58 closed

[2017-05-09 13:08] bartdkmediahuis opened #78 "When eula not accepted, no visual feedback using Rider"
Needed to manually execute ./tf eula -accept in order to get the TFS plugin up and running in Rider.
Can this be documented or be executed during install ?

[2017-05-09 13:48] yacaovsnc commented on #76
Thanks for reporting this issue.  I have created a backlog item to sign it.

[2017-05-09 13:48] yacaovsnc commented on #77
Thanks for reporting.  Will investigate.

[2017-05-09 14:01] yacaovsnc commented on #78
Thanks for the feedback.  I agree we should have a simpler way to accept the eula, or at least document this.  Will discuss internally about the best approach.

[2017-05-10 07:38] bartdkmediahuis opened #79 "Unable to fetch only a part of a certain workspace"
At this moment it seems impossible to fetch only a part of a given workspace.
Since TFS has a different way of handling branches (compared to GIT), I often only fetch a given branch, instead of the entire workspace.

Currently I'm not able to use this plugin, due to our repo being to big to fetch / clone :(

[2017-05-10 13:16] jpricketMSFT commented on #79
@bartdkmediahuis - I assume you are using the "Checkout from Team Services" dialog to create your workspace. There is a checkbox that allows you to Edit the Workspace before you get the sources. This should allow you to limit the workspace to whatever server paths you would like.
Please let us know if this functionality is not working for you.

[2017-05-15 11:54] arcticwhite opened #80 "Server name URL was not recognized..."
I'm getting this error after connecting to TFS in Android Studio.

It's not listing any repository. And the error is "The server URL was not recognized. Make sure it does not contain a collection or repository name.

My version of Visual Studio Team Services is v1.116.1
You can see my URL on the image.
![untitled](https://cloud.githubusercontent.com/assets/23723816/26056515/f9e28b46-3975-11e7-8ec0

[2017-05-15 17:05] AlexRukhlin commented on #80
Hi @arcticwhite

Could you please collect a Fiddler trace for this issue?

Alex

[2017-05-17 10:11] bubblef opened #81 "Press Run to run this script and Quit to quit"
![2017-05-17_12-22-07](https://cloud.githubusercontent.com/assets/22168773/26149017/4c33252c-3b01-11e7-8d33-09543150bc23.png)

[2017-05-17 12:59] arcticwhite commented on #80
Hello @AlexRukhlin

My Fiddler doesn't show any traffic while logging with my credentials in the same window...
And it doesn't show any traffic after getting to this, same window.

[2017-05-17 17:39] AlexRukhlin commented on #81
Hi,
Could you please provide more details regarding this issue?
- Your environment (OS, JRE, IDE, their versions)
- VSTS plugin version
- Scenario when the issue appears

Thanks,
Alex

[2017-05-17 18:43] bubblef commented on #81
Hi,
It happens in Rider on MacOS, I don't have steps to reproduce. It just happened once when I opened Rider (the latest build). I didn't find anything in logs.
The plugin version is 1.116.1.

[2017-05-22 20:25] leantk commented on #81
Hi @bubblef,

Are you saying this just happened the first time you opened the IDE? The times afterwards it didn't happen? This is from the protocol handler registering but it shouldn't show a dialog for it. I'm curious if for the first time it asked for permission and then never again and that's why I don't see it. I'm taking a look into now.

Thanks,
-Leah

[2017-05-23 13:24] leantk commented on #80
Hi @arcticwhite,

Instead of the Fiddler trace could you please give me a log from Android Studio? You can follow the last FAQ here to see how to get it: http://java.visualstudio.com/Docs/tools/androidStudio#_frequently-asked-questions-faq

If you don't want to post your log here feel free to email it to me directly at leantk@microsoft.com

Thanks,
-Leah

[2017-05-23 19:16] leantk commented on #76
Hi @bubblef,

I'm working on getting a cert through the proper channels and signing the app. The app registers our protocol handler in case you were wondering.

[2017-05-24 13:48] yu-kopylov opened #82 "Invalid username with workfold command."
This command fails with `TEE-CLC-14.118.0`:
`
tf workfold -noprompt -login:username,pw
`

It gives error:
`
An error occurred: Access denied connecting to TFS server http://tfs.servername:8080/ (authenticating as username)
`

When `-login` parameter is omitted and username is already saved, or when correct username and password is used with `-login` parameter, then `tf workfold` works fine.

It se

[2017-05-24 14:13] bubblef opened #83 "Link is not clickable"
Hi!
Could you please make the link clickable in this popup?
![2017-05-24_15-38-51](https://cloud.githubusercontent.com/assets/22168773/26407521/0d86fe54-40a4-11e7-8610-66e558ef04ae.png)

[2017-05-24 20:57] leantk commented on #83
Fixed with commit https://github.com/Microsoft/vso-intellij/commit/3faf0f970552cefc1d01ed661c7a3754dda4e839

This will go out in the next release. Thanks for reporting!

[2017-05-24 20:57] #83 closed

[2017-05-28 07:49] adakbar opened #84 "Problem with name start with `$`"
I have an app using SBT, each time I compile there is a directory named `$global` inside target directory, thus cause plugin to broke, I can't submit change nor get latest files, as a workaround I should delete these directory each time I need to submit or update then restart IntelliJ, putting target directory to `.tfignore` not helping thought.

I'am aware that `$` is by design a reserved charact

[2017-05-31 17:06] 03July opened #85 "Commit failed with error - HTTP 401 Unauthorized"
I'm using Visual Studio Team Services plugin for Android Studio Version: 1.118.0 with TFS 2017.
The Team Explorer Client version: TEE-CLC-14.118.0

The problem just occurs when I switched from preview version to latest versions of both plugin and TEE.

It seems that the 'TFSVcs.getServerContext repositoryContext is null', where can I configure the repository context ?

[idea.log.txt](https://githu

[2017-05-31 17:43] 03July commented on #85
It appears to be a conflict between environment variables:
Path=C:\ProgramData\Oracle\Java\javapath; et JAVA_HOME

Which produced:
Error occurred during initialization of VM
java/lang/NoClassDefFoundError: java/lang/Object

[2017-05-31 17:43] #85 closed

[2017-06-05 15:35] leantk commented on #82
Hi @yu-kopylov,

Could you give me the log from this error please? I'm not seeing this behavior on my machine so I need to see what is happening differently. You can get the log by following the last FAQ here:
http://java.visualstudio.com/Docs/tools/intelliJ#_frequently-asked-questions-faq

Either attach the log here or feel free to email it to me at leantk@microsoft.com

Thanks,
-Leah

[2017-06-05 16:45] leantk commented on #84
Hi @adakbar,

Officially `$` is a reserved character like you said and shouldn't be used. I however was able to get `.tfignore` to ignore it and have everything work normally. When you say the plugin breaks, what exactly happens? What OS are you using? Could you give me a copy of the log? You can get a log by following the last FAQ here:
http://java.visualstudio.com/Docs/tools/intelliJ#_frequently

[2017-06-05 16:46] leantk commented on #64
Closing since there has been no follow-up. Please reopen if the issue still persists.

Thanks,
-Leah

[2017-06-05 16:46] #64 closed

[2017-06-05 16:46] leantk commented on #63
Closing since there has been no follow-up. Please reopen if the issue still persists.

Thanks,
-Leah

[2017-06-05 16:46] #63 closed

[2017-06-05 16:47] leantk commented on #57
Closing since there has been no follow-up. Please reopen if the issue still persists.

Thanks,
-Leah

[2017-06-05 16:47] #57 closed

[2017-06-05 16:51] leantk commented on #52
Closing since there has been no follow-up. Please reopen if the issue still persists.

Thanks,
-Leah

[2017-06-05 16:51] #52 closed

[2017-06-05 16:52] leantk commented on #73
Closing since there has been no follow-up. Please reopen if the issue still persists.

Thanks,
-Leah

[2017-06-05 16:52] #73 closed

[2017-06-05 16:52] leantk commented on #68
Closing since there has been no follow-up. Please reopen if the issue still persists.

Thanks,
-Leah

[2017-06-05 16:52] #68 closed

[2017-06-07 01:36] leantk commented on #76
The app was signed in commit https://github.com/Microsoft/vso-intellij/commit/e1eef428a2ad0a9623b1f2b75ff85f367a35c5e0

[2017-06-07 01:36] #76 closed

[2017-06-07 18:49] leantk commented on #77
Fixed in current release 1.119.0

[2017-06-07 18:49] #77 closed

[2017-06-14 12:15] thijsalofs commented on #51
Any progress on this feature? I would love to use it!

[2017-06-26 07:01] Kimi-Arthur opened #86 "View and update VSTS work items from within IntelliJ"
Currently you can only view, create and update work items from browser.

Double clicking the work item will lead you to the web page for that work item. The new work item button also leads you to the web page.

It will be a much better experience if you can do all of these from within IntelliJ

[2017-06-27 13:16] leantk commented on #51
Hi @thijsalofs, this is still on our backlog but we just haven't gotten to it yet. My apologies. I will prioritize this higher though since it has been asked for multiple times.

Thanks for your input,
-Leah

[2017-06-27 13:22] leantk commented on #86
Hi @Kimi-Arthur, thanks for your input. There is an item on our backlog to do this but it just hasn't been prioritized at the moment since there is the option to go to the web while other features have no browser alternative. I will factor this into prioritization though since it's been asked for specifically.

Thanks again for the feedback,
-Leah

[2017-06-28 05:44] Kimi-Arthur commented on #86
Thanks! Just hope the plugin becomes better and better!

[2017-07-05 05:45] akeditzz opened #87 "Android Studio TFVC Error:KEY_TF_BAD_EXIT_CODE"
I am trying to update my project from tfvc repository in android studio but i am getting this error "

Error:KEY_TF_BAD_EXIT_CODE.

and also this:
 Plugin Error: Visual Studio Team Services threw an uncaught NotAuthorizedException. Disable Plugin, NotAuthorizedException: HTTP 401 Unauthorized

TFVC set up is all good i checked.

Please help me.

Thank you

[2017-07-05 10:27] pmoskvin opened #88 "Create tasks adapter"
You need to make an adapter for the standard task viewer (you can find it here: settings -> tools -> tasks -> servers)

[2017-07-05 12:14] arcticwhite commented on #80
With one of latest builds/releases this has been resolved...

[2017-07-05 12:14] #80 closed

[2017-07-05 13:30] leantk commented on #88
Hi @pmoskvin,

Just to clarify, do you mean we should have the TFS servers that you are using show up as an option to add in that menu and then automatically use those when you are doing a checkout or other action?

Thanks for your feedback,
-Leah

[2017-07-05 13:36] leantk commented on #87
Hi @akeditzz,

Sorry for your issue but thanks for bringing it to our attention. Could you please turn on debugging and send me a log from Android Studio so I can see more information on what is happening? You can get a log by following the instructions in the last FAQ here: http://java.visualstudio.com/Docs/tools/androidStudio#_frequently-asked-questions-faq

Attach the log to this issue or email

[2017-07-05 15:40] pmoskvin commented on #88
I mean that in your plug-in the "tasks" functionality is implemented in the VCS section. But intellij has a special place for tasks with a set of standard functions (status change, time management, branch binding ...).

[2017-07-11 19:01] leantk commented on #88
I'll create a work item for this and ad it to our backlog. Thanks for the recommendation! I was unaware of that integration there.

[2017-07-14 08:30] wawyed opened #89 "Plugin doesn't work under authenticated proxy."
I have set up WebStorm proxy correctly via PAC file, unfortunately when trying to sign in with VSTS the login is screen is blank, letting me believe that is not going through the proxy.

![image](https://user-images.githubusercontent.com/4390806/28204681-e6618826-6876-11e7-9ce6-24126d3a2592.png)

![image](https://user-images.githubusercontent.com/4390806/28204704-f8e58e2a-6876-11e7-89b9-0f31eccc01

[2017-07-18 06:57] dmytro-ielkin commented on #54
Hi Leah,

I'd like to upvote this one. If would be great to have workspace creation experience similar to what we have in Visual Studio where you can edit the name of the workspace before you create it. Or at least append machine name or random number when generating the name.

[2017-07-21 16:20] leantk commented on #54
Thanks @dmytro-ielkin for letting us know! It's still on the backlog but with votes like yours it moves up in priority.

[2017-07-21 16:32] leantk commented on #89
Hi @wawyed,

Thanks for reporting the issue. Could you do 2 things for me please?

1) Try authenticating with Device Flow. Sometimes the browser experience has been flaky for people so that's why we added device flow. You can enable that by going to File -> Settings -> Version Control -> Team Services / TFS. Select Device flow under the Authentication Method section. Try to login again and see if

[2017-07-28 16:18] julia-vaseva opened #90 "Error:KEY_TF_BAD_EXIT_CODE when updating the project"
Please find logs attached.
[idea.zip](https://github.com/Microsoft/vso-intellij/files/1183644/idea.zip)

[2017-07-31 17:24] leantk commented on #90
Hi @julia-vaseva,

Your workspace can't be identified by the plugin. I'm trying to figure out why. Did you create the workspace with the Jetbrains TFS plugin or the our TFVC? Is is a server workspace?

Also we should be giving a better error message as to what's happening so I'll add that to our backlog.

Thanks,
-Leah

[2017-08-01 09:34] julia-vaseva commented on #90
Hi @leantk,

This is a log file send by our user. Unfortunately, I haven't got any steps to reproduce the issue. It is definitely your TFVC plugin, and, as far as I understand, the user tries to use a workspace created via Visual Studio: "I am trying to open a solution which is already bound using Visual Studio."

Sorry for such a poor description, hope that it'll help to localize the problem anyw

[2017-08-01 14:36] julia-vaseva opened #91 "Cannot create a server workspace"
I have a question concerning server workspaces in Team Services plugin. As I have gathered from [this issue](https://github.com/Microsoft/vso-intellij/issues/47), by default a local workspace is created, but there are some personal configurations, which allow creating a server workspace. Would you please explain what these configurations are? For me, a workspace is always local and "Location" drop

[2017-08-02 11:49] julia-vaseva opened #92 "Add message if checkin failed due to "file is locked in workspace""
If a file is locked in another workspace, I would expect to see a more informative message.

Repro:
1. Check-out project from Version Control via Team Service TVFS to the 1st workspace and check-in files for edit
2. Check-out project from Version Control via Team Service TVFS to the 2d workspace
3. Edit a file in the 2d workspace and try to check-in
Expected result:
A message "The file is locked i

[2017-08-02 11:53] julia-vaseva opened #93 "Add message if checkin failed due to "A newer version of file exists on the server""
If there is a newer version of a file on the server, I would expect to see a more informative message.

Repro:
1. Check-out project from Version Control via Team Service TVFS
2. Change a file on the server
3. Do not update the file and edit it
4. Try to check-in the file

Expected result:
A message "A newer version of file exists on the server"
Actual result:
A message occurs, but there is no usef

[2017-08-02 14:56] leantk commented on #90
Currently workspaces created in Visual Studio cannot be identified with the command line tool that is used by the plugin. That is why the user is seeing that error. The user would have to clone the repository using our plugin or the command line tool in order to use the other plugin features.

Like I said, I will make a fix to show a proper error message but as for making Visual Studio workspaces

[2017-08-02 15:07] leantk commented on #91
Hi @julia-vaseva,

We currently only support local workspaces. In the next release of the plugin that will come out this week (version 1.122.0) we will allow the option to edit server workspaces that already exist but no other operations at this time (essentially the menu you showed above will work for server workspaces). The dropdown is disabled because we do not want users to change their worksp

[2017-08-02 17:44] leantk commented on #92
I made the fix with commit https://github.com/Microsoft/vso-intellij/commit/595101bb44b6a03ae18f60a432f838834f46b674 and it will go out in upcoming 1.122.0 release

[2017-08-02 17:44] leantk commented on #93
I made the fix with commit https://github.com/Microsoft/vso-intellij/commit/595101bb44b6a03ae18f60a432f838834f46b674 and it will go out in upcoming 1.122.0 release

[2017-08-03 09:09] julia-vaseva commented on #93
@leantk Thank you for the quick fixes!

[2017-08-03 09:20] julia-vaseva commented on #90
@leantk Thanks for clarifying and for showing a workaround! I believe that an error message is always a good idea. Shouldn't we mention in [docs](http://java.visualstudio.com/Docs/tools/intelliJ), that VS workspaces won't work with this plugin out-of-the-box?

[2017-08-03 09:33] julia-vaseva commented on #91
Hi @leantk,

Thanks for the explanation. I wonder if there are any plans to add full support for server workspaces? If yes, could we expect it soon?

I suppose that creating a local workspace by default is ok since there is an option to create a server one via console. Anyway, I will let you know if I receive any requests about server workspace support.

Julia

[2017-08-03 10:36] julia-vaseva opened #94 "Support check-in policies"
1) There is no opportunity to create a check-in policy.
2) I have created a check-in policy via Visual Studio, but it is ignored in Rider. Check-in finishes successfully without any complaint.

[2017-08-03 15:08] leantk commented on #94
Hi @julia-vaseva,

Check-in policies are something we have scheduled to work on soon. I can keep you updated on the progress here.

Thanks,
-Leah

[2017-08-03 15:11] leantk commented on #91
We do have plans to eventually support server workspaces but I don't have a definitive timeline on when. Local workspaces are the more commonly used of the 2 so that's why we went with supporting them first and then planned to go back to support server workspaces. I'll keep this issue open and track our progress with this work here.

Thanks,
-Leah

[2017-08-03 15:13] leantk commented on #90
Yes I should have that in the docs for sure. Thanks for pointing that out. I'll add the error message and updates to the doc and then let you know when that's complete.

[2017-08-04 15:52] rguillens opened #95 "Plugin doesn't remember passwords"
Hi there:
I've been facing a problem using this plugin. Every time I open the IDE and go to Pull Requests or WorkItems tabs in Versioning area, the plugin ask me for credentials, I authenticate and check the Remember option, but my credentials are forgotten when I close de IDE.
Nevertheless, the option **Checkout from Version Control -> Team Services Git** remembers my password as expected.

This

[2017-08-05 18:11] chenguandu opened #96 ""Performing VCS refresh..." - Dialog stays active for long times"
When I'm trying to commit changes to TFVC aDialog shows up, which cintains the message "Performing VCS refresh...", most times the dialog stays there for a very long time until the checkin dialog gets opened.
Screenshot
![Screenshot](https://cloud.githubusercontent.com/assets/13673693/24951822/f256edc8-1f75-11e7-875f-def4830d14f5.PNG)

[logs](https://github.com/chenguandu/test/blob/master/idea.log

[2017-08-09 12:43] leantk commented on #96
Hi @chenguandu,

Thanks for reporting the issue. The log that you linked to doesn't show the commit dialog being opened. Would you mind restarting the IDE, trying to do a commit, then closing the IDE and getting the log from that please? Also about how files are in your repo? I'm wondering if we aren't scaling well.

Thanks,
-Leah

[2017-08-09 13:03] leantk commented on #95
Hi @rguillens,

Thanks for reporting your issue. Just a couple additional questions. First are you using multiple repositories with different Team Services accounts in IntelliJ or is it the same repository and the same account all the time? Also, in the Settings menu, do you have the option to store your passwords in KeePass enabled? You shouldn't be prompted upon every start of the IDE so this is

[2017-08-09 13:10] leantk commented on #93
I'm going to close these as fixed but if you still think there is an issue please reopen them.

[2017-08-09 13:10] #93 closed

[2017-08-09 13:10] leantk commented on #92
I'm going to close these as fixed but if you still think there is an issue please reopen them.

[2017-08-09 13:10] #92 closed

[2017-08-09 13:17] leantk commented on #51
In the latest release 1.122.0 I have added the option to open the annotate view in the web from the TFVC dropdown menu. I know it's not a full solution but I hope this helps in the short-run until the complete annotate view can be implemented.

![image](https://user-images.githubusercontent.com/13628312/29123322-5489d580-7ce3-11e7-873a-d83e170a2ee3.png)

Thanks,
-Leah

[2017-08-09 15:15] julia-vaseva opened #97 "Enhance a link to Help"
The link on TFVC Setting page and in "Checkout from Team Services" dialog should lead to http://java.visualstudio.com/Docs/tools/intelliJ

![2017-08-09_1810](https://user-images.githubusercontent.com/30112159/29129008-28046020-7d2e-11e7-9f76-2b3abdedb0e2.png)
![2017-08-09_1813](https://user-images.githubusercontent.com/30112159/29129140-7d283342-7d2e-11e7-9afd-cd48d87edbcb.png)

[2017-08-10 01:54] chenguandu commented on #96
[https://github.com/chenguandu/test/blob/master/idea.log](https://github.com/chenguandu/test/blob/master/idea.log)

There are 929 files in the project, total size : 5.50 MB,  one file changed only.

Thanks

[2017-08-10 14:01] leantk commented on #96
It looks like the performance is bad because it's detecting ~630 new files in your workspace. Do you ever intend to checkin these files? I ask because they are under build directories or the .idea directory and if you have no intention of checking them in you can set them to be ignored which will greatly improve your performance. If you create a .tfignore file in your root directory and add the pa

[2017-08-10 16:26] hnabbasi commented on #44
Hi, is gated check-in supported yet?

[2017-08-11 21:11] rguillens commented on #95
Hi:
I use multiple repositories, but just one account and one Team Services Server. Store password on KeePass option is enabled.
Thanks

[2017-08-16 13:43] leantk commented on #95
@rguillens I'm going to try and reproduce this on my end and see if I can get the same result. If so that will make it easier to debug going forward. Thanks again for letting us know and I'll get back to you with some answers.

-Leah

[2017-08-17 12:35] leantk commented on #79
Closing this due to inactivity. If you're still having issues please feel free to reopen it.

[2017-08-17 12:35] #79 closed

[2017-08-17 12:35] leantk commented on #82
Closing this due to inactivity. If you're still having issues please feel free to reopen it.

[2017-08-17 12:35] #82 closed

[2017-08-17 12:35] leantk commented on #84
Closing this due to inactivity. If you're still having issues please feel free to reopen it.

[2017-08-17 12:35] leantk commented on #87
Closing this due to inactivity. If you're still having issues please feel free to reopen it.

[2017-08-17 12:35] #87 closed

[2017-08-17 20:33] leantk commented on #97
@julia-vaseva I've been looking into this and to me it looks like the Help option can only be directed to a www.jetbrains.com sub-site. I'll check with some of the engineers to see if that's true.

Thanks,
-Leah

[2017-08-18 04:00] Excelzn opened #98 "Unable to log in to Team Services"
I get the error "Unable to authenticate to Team Services. Verify your network connection and credentials and try again" consistently every time I try and sign in. Log file is attached.
[idea.txt](https://github.com/Microsoft/vso-intellij/files/1233239/idea.txt)

[2017-08-18 07:57] C-Romeo commented on #73
Same problem. Environment info:
-Android Studio 2.3.3
-Visual Studio Team Services plugin 1.122.0
-TEE-CLC-14.119.2
-Windows 8.1 Enterprise

[2017-08-18 07:58] C-Romeo commented on #96
Same problem. Environment info:
-Android Studio 2.3.3
-Visual Studio Team Services plugin 1.122.0
-TEE-CLC-14.119.2
-Windows 8.1 Enterprise

[2017-08-21 06:49] m1gu3l opened #99 "Code Review tools"
Since there is support for TFVC, it would be great to start thinking on support of code review tools, as mentioned in #17

[2017-08-21 12:05] m1gu3l commented on #73
Same problem.
-IntelliJ Ultimate 2017.2.2
-Visual Studio Team Services plugin 1.122.0
-TEE-CLC-14.120.0
-Windows 7 Professional

[2017-08-22 13:51] minaaboud commented on #44
Hello,
This morning when I tried to commit changes I got that same error, and received an update for the plugin after the updates I receive this error:

`-- JAVA_EXCEPTION --- javax.ws.rs.NotAuthorizedException: HTTP 401 Unauthorized at com.microsoft.alm.plugin.idea.tfvc.core.TFSVcs.getServerContext(TFSVcs.java:275) at com.microsoft.alm.plugin.idea.tfvc.core.TFSFileListener$1.run(TFSFileListener.j

[2017-08-22 19:21] leantk commented on #99
Thanks for the feedback @m1gu3l! At the moment we don't have this planned as a feature but I'll add this as an enhancement and it then will be considered for future work.

Thanks again,
-Leah

[2017-08-22 19:46] leantk commented on #96
Hi @C-Romeo,

Do you happen to have a large amount of unversioned files in your workspace? Could I get a log from you of the issue so I could try and pinpoint the exact call that is causing the slowdown please? You can follow the instructions here for turning on debugging and getting the log: https://java.visualstudio.com/Docs/tools/androidStudio#_frequently-asked-questions-faq

Thanks,
-Leah

[2017-08-22 21:30] stephenmcd1 opened #100 "Annotate does not follow branches"
We do most of our development in branches in TFS.  That makes the Annotate functionality in this plug-in almost useless.  Anytime I do an annotate on a file, it just shows that every single line was modified by me in the check-in where I created the branch.  :(

When doing an Annotate in Visual Studio (starting back in the TFS2010 days I believe), the logic is smart enough to follow the branch his

[2017-08-22 21:34] minaaboud commented on #44
I'm temporally found a fix for this.
I simply, switched server from manage workspace from TFVC menu  , reconnect to the same server , chosen same workspace, got an error message "I can't choose the same exisitng workspace" , clicked ok, tried to checkin file,   committed file successfully.

[2017-08-23 06:49] C-Romeo opened #101 "StackOverflowError in Android Studio"
I get StackOverflowError error in AndroidStudio when add new file by New->Java Class which tries to add file to TFS
![tfs_androidstudio_stackoverflow](https://user-images.githubusercontent.com/12821525/29602253-0e51d968-87e8-11e7-887c-6c51faebbcd0.png)

Environment info:
-Android Studio 2.3.3
-Visual Studio Team Services plugin 1.122.0
-TEE-CLC-14.119.2
-Windows 8.1 Enterprise

[2017-08-23 09:39] minaaboud commented on #44
Also I found out that it's a problem with the TFS plugin doesn't store my credentials, every time I close rider.

when I did the temporarily fix I found my credentials in place. but if I rested the application, it will loose them.

any help with that ?
<img width="1023" alt="screen shot 2017-08-23 at 11 35 42 am" src="https://user-images.githubusercontent.com/8300058/29609475-9ee2f8f4-87f7-11e7-8a

[2017-08-23 12:50] leantk commented on #101
Hi @C-Romeo,

Thanks for reporting this! Could you please give me a log of the error so I can see exactly where this is getting thrown? You can follow the last FAQ here for directions to enable debug and get the log: https://java.visualstudio.com/Docs/tools/androidStudio#_frequently-asked-questions-faq

Thanks again,
-Leah

[2017-08-23 13:15] leantk commented on #98
Hi @Excelzn,

It looks like you are having issues authenticating when you try to get a token from AAD. Does it look like you successfully enter in your credentials in the pop-up browser? Are you able to login through a browser normally? If so, try changing to device flow as your authentication method. You can do that by going to File -> Settings -> Version Control -> Team Services / TFS. Under Aut

[2017-08-23 13:38] leantk commented on #44
Hi @hnabbasi,

We currently still don't have checkin policies in place but they are high on our priority list to get to next. Sorry for the inconvenience!

[2017-08-23 13:41] legiami commented on #98
I got the same error (using PHPStorm) even using "device flow".
I can login using browser normally. I try to clear all credential, change password, etc. Nothing works.

Error after authenticating using "device flow"
[code]

[2017-08-23 13:44] leantk commented on #44
Hi @minaaboud,

Thanks for reporting the issue. I am aware of the credentials not being saved on the IDE restarting. I'm currently looking into that. Other than that, is everything else working for you? The NotAuthorizedException was because your credentials couldn't be found so it was correct of you reload the workspace using the Manage Workspaces dialog. That allows you to re-enter your credenti

[2017-08-23 14:30] leantk commented on #98
@legiami could you attach the whole log please? That looks a little different from what's in the first log you attached. Thanks!

[2017-08-23 14:43] legiami commented on #98
@leantk this is last log file [idea.txt](https://github.com/Microsoft/vso-intellij/files/1245811/idea.txt)

[2017-08-24 02:55] Excelzn commented on #98
That actually worked for me. Thanks.

[2017-08-24 12:29] minaaboud commented on #44
Thanks guys, you rock, waiting the updates.

[2017-08-24 15:53] IgorPietraszko opened #102 "Unable to connect to VSTS Git repo from Android Studio"
I have Android Studio 2.3.3. Installed VSTS plugin 1.122.0.  Running on corporate network behind a firewall.  Configured proxy in Android Studio and tested OK.  When trying to Sign-in through VSTS Git plug in (VCS ->  Import into Version Control -> Import into team Services Git -> Sign in), the spinner spins and spins but nothing happens.  There is an exception under IDE Fatal Errors as provided b

[2017-08-24 21:27] m-jones-p2 opened #103 "NullPointerException when performing Status check on Files"
Our team has just moved over to using this new plugin for Intellij, and we run our project on Linux. Our project uses Gradle, and one of the steps we have to do when pulling in our code to our Linux machines is to make our 'gradlew' file executable by adding the executable permission to the file.

It appears that the plugin cannot handle this status change as indicated by the error message in the

[2017-08-25 20:33] leantk commented on #102
@IgorPietraszko do you ever see a browser window appear and prompt you for credentials?

[2017-08-25 20:37] IgorPietraszko commented on #102
No, I don't.

Igor Pietraszko

iDon't send e-mails from iPhones

On Aug 25, 2017 14:33, "Leah Antkiewicz" <notifications@github.com> wrote:

[2017-08-25 20:42] leantk commented on #102
@IgorPietraszko  if you are able to log in from a regular browser, you should be able to log in using our alternative authentication method of Device Flow. Could you try following the instructions to enable Device Flow that I have posted on this issue https://github.com/Microsoft/vso-intellij/issues/98

Let me know if that makes a difference.
Thanks,
-Leah

[2017-08-25 20:44] minaaboud commented on #44
Everything else is working just fine :), so far. been using the IDE for a week.

[2017-08-25 20:45] IgorPietraszko commented on #102
Ok, will try on Monday. Thanks.

Igor Pietraszko

iDon't send e-mails from iPhones

On Aug 25, 2017 14:42, "Leah Antkiewicz" <notifications@github.com> wrote:

[2017-08-28 13:40] leantk commented on #95
Hi @rguillens,

I made some changes and I think I have fixed the issue. Would you mind testing out this custom build of the plugin with the fix and see if there is any difference? All you need to do is download this
[plugin.idea-1.122.0-PwFix.zip](https://github.com/Microsoft/vso-intellij/files/1256870/plugin.idea-1.122.0-PwFix.zip) zip but don't un-zip it. In the IDE, go to File -> Settings -> Pl

[2017-08-28 15:27] IgorPietraszko commented on #102
Still no luck.  Similar exception.

null
java.util.NoSuchElementException
at java.util.StringTokenizer.nextToken(StringTokenizer.java:349)
at
sun.net.www.protocol.http.HttpURLConnection.doTunneling(HttpURLConnection.java:2018)
at
sun.net.www.protocol.https.AbstractDelegateHttpsURLConnection.connect(AbstractDelegateHttpsURLConnection.java:183)
at
sun.net.www.protocol.https.HttpsURLConnectionImpl.co

[2017-08-28 16:02] leantk commented on #44
Hi @minaaboud,

The same problem was reported with issue https://github.com/Microsoft/vso-intellij/issues/95. I just attached a newer version of the plugin there with a fix to test out for the password problem. Could you please test it if you have a chance and let me know if it works for you.

Thanks,
-Leah

[2017-08-28 16:15] leantk commented on #102
Hi @IgorPietraszko,

Would you be able to attach the entire log of the IDE please? It looks like the URI it's trying to use is hitting an issue and the log will show me more details. You can follow the last FAQ here on how to turn on debug and get the log: https://java.visualstudio.com/Docs/tools/androidStudio#_frequently-asked-questions-faq

If you don't want to attach the log here, please feel f

[2017-08-28 16:20] IgorPietraszko commented on #102
Here it is:

On Mon, Aug 28, 2017 at 10:15 AM, Leah Antkiewicz <notifications@github.com>
wrote:

[2017-08-28 17:13] leantk commented on #102
@IgorPietraszko sorry but I don't think the attachment went through. I don't see it here. Would you mind trying again please?

[2017-08-28 17:15] IgorPietraszko commented on #102
Sent it to your e-mail.

Igor

On Mon, Aug 28, 2017 at 11:13 AM, Leah Antkiewicz <notifications@github.com>
wrote:

[2017-08-28 17:18] leantk commented on #98
Hi @legiami it looks like we are having an issue getting your profile while logging you in and that's why it's failing. Would you be able to email me the account URL you are trying to use, the email address associated with that account, and an approximate date/time of the last time you tried this and it failed? I'm going to look at your requests logged in our system and see why they failed in more

[2017-08-28 20:39] leantk commented on #65
I believe this has been fix and released. If you are still seeing this issue please re-open the issue

[2017-08-28 20:39] #65 closed

[2017-08-29 06:33] C-Romeo commented on #101
null
java.lang.StackOverflowError
	at com.intellij.openapi.updateSettings.impl.UpdateChecker.checkForUpdate(UpdateChecker.kt:723)
	at com.intellij.diagnostic.DefaultIdeaErrorLogger.canHandle(DefaultIdeaErrorLogger.java:58)
	at com.intellij.diagnostic.DialogAppender.appendToLoggers(DialogAppender.java:91)
	at com.intellij.diagnostic.DialogAppender.lambda$append$0(DialogAppender.java:63)
	at java.aw

[2017-08-29 09:10] minaaboud commented on #44
okay, will do.

[2017-08-29 09:27] minaaboud commented on #44
It's working just fine. I hope you push this updates so all get it 👍 👍 👍

[2017-08-29 12:49] leantk commented on #44
Thanks for testing it! The next release (which should be in the next 2 weeks) will have the update so you can upgrade to it and keep the same behavior.

[2017-08-30 18:53] leantk commented on #101
Thanks @C-Romeo. This is odd and I can't reproduce the same error on my own box but I want to see if maybe I'm doing something different than you. Is it always for adding a Java file or adding anything new like a package or file? I'm assuming you don't see the dialog that asks if you want to "add the following item to TFVC" and it fails before that with the StackOverflowError? Would you also be ab

[2017-08-30 18:58] leantk commented on #90
I've updated the error messaging in commit https://github.com/Microsoft/vso-intellij/commit/0c66406c641b9b912da268f3587d0fdf5c5b5dd9 to be more informative and I've also updated the website with the information on how to recognize Visual Studio workspaces. I'll close this as fixed but please reopen if you see more issues.

[2017-08-30 18:58] #90 closed

[2017-08-31 20:36] stephenmcd1 commented on #100
I also noticed that the same problem exists for View History.  For most of my items, all I see is a single entry for the branch and I can't get to any of the earlier history (at least not easily).

[2017-08-31 20:46] ias0nas opened #104 "Error "contextList is empty" after signing in VSO"
While on the Checkout from Team Services window and after signing successfully I get an error message above the buttons reading "contextList is empty".

Same credentials in Visual Studio bring up the project I have access to on visualstudio.com

Any logs I can check for more details?

[2017-09-01 12:44] leantk commented on #104
Hi @ias0nas,

You can turn on debugging and get a log by following the last FAQ here: https://java.visualstudio.com/Docs/tools/intelliJ#_frequently-asked-questions-faq

It looks like something must have gone wrong during signing in because that should create a context that populates the contextList but without more information I can't tell you exactly what went wrong. If you attach the log here or

[2017-09-01 13:01] leantk commented on #103
Hi @m-jones-p2,

I've been able to reproduce the error on my end and am looking into it now. Thanks for bringing this to our attention and sorry for the inconvenience. I'll keep you updated on my progress.

-Leah

[2017-09-01 14:04] leantk commented on #103
Hi @m-jones-p2,

I made a custom fix on the plugin and I was wondering if you could test it out and see if that fixes your problem:
[plugin.idea-1.122.2.zip](https://github.com/Microsoft/vso-intellij/files/1270468/plugin.idea-1.122.2.zip)

To install the plugin, download the zip (don't unzip it). In the IDE, go to File -> Settings -> Plugins and choose to "Install plugin from disk" and select the

[2017-09-01 21:33] m-jones-p2 commented on #103
Hi leantk,

I just had a team member test the fix and it seems to do the trick, we are no longer receiving errors when updating file statuses after changing the gradlew file to be executable.

Appreciate the assistance! Will the main plugin be updated soon to include this fix?

Thanks,
Matthew

[2017-09-02 10:33] ias0nas commented on #104
Hi @leantk

Not sure these instructions apply for Rider?
Doesn't seem to be options for custom log configuration.

I am using Rider (on Linux if that makes any difference).
Does it have another way of enabling logging?

Thanks

![contextlistempty](https://user-images.githubusercontent.com/9936844/29994866-67ba4d22-8fd2-11e7-9dbe-730316ee406a.gif)

[2017-09-04 10:28] legiami commented on #98
@leantk I send mail to you. Today everything is working - maybe you have some old data in cache (in plugin or in visualstudio.com)? I don't use account in last week.

[2017-09-05 14:01] leantk commented on #103
Thanks for the verification. I'm committing the change today and it will go out in our next plugin release. That should happen at the end of the week so you can update and still have the fix.

Thanks again,
-Leah

[2017-09-05 14:33] leantk commented on #98
Thanks for letting me know @legiami and I'm glad to hear its all working for you now. I'll close this issue as resolved then but if you have any more issues please feel free to reopen it.

[2017-09-05 14:33] #98 closed

[2017-09-05 14:45] leantk commented on #96
Thanks for the info @stephenmcd1. The ~11,000 unversioned files will definitely lead to some performance issues lol. I know you said it hasn't been a big issue for you (which is surprising) but if it does become something that bothers you, you can use the .tfignore file like I mentioned above and it will stop processing those files for status.

[2017-09-05 15:10] leantk commented on #104
Hi @ias0nas,

Sorry for the confusion with the logging. The toolbar for Rider only shows up when you have a project opened already. If you have another project that you could open, you could see the toolbar across the top that has the Help dropdown. Once the debugging is enabled, could you send me the entire log please?

Another option you can try is going to the Team Foundation Server tab and pas

[2017-09-06 19:26] Kokochu commented on #44
@leantk Like @hnabbasi I'm also waiting for gated check in support and would be happy to help once you have something you'd like tested.

[2017-09-06 19:30] ias0nas commented on #104
Hi @leantk

Unfortunately the same error is returned when trying to sign in to TFS after having opened a project.
I enabled the debugging as described and this is the output:

[code]

[2017-09-06 19:43] ias0nas commented on #104
@leantk
Using the Team Foundation Server as you suggested tab works fine for the same credentials so probably something going on with the first tab.

If you need any more logs or anything else, let me know.

Thanks

[2017-09-07 18:11] leantk commented on #104
@ias0nas I'm glad to hear things worked with the second tab. In some scenarios, a user's username/pw can't find their associated VSTS accounts which is what the first tab (VSTS) tries. The second tab (TFS) is able to use the repo URL provided to make the association. It's something that we are aware of and are looking into but for now the TFS tab is way to unblock users.

I'm going to close this i

[2017-09-07 18:11] #104 closed

[2017-09-07 19:37] leantk commented on #95
Release 1.123.0 should solve this issue. Please reopen if you're still seeing the problem persist.

Thanks again,
-Leah

[2017-09-07 19:37] #95 closed

[2017-09-11 03:24] chenguandu commented on #96
Hi @leantk
I had added the files to .tfignore, but no effect，
now i using the visual studio instead.
Thanks

[2017-09-11 03:24] #96 closed

[2017-09-11 17:56] subodhpathak opened #105 "Unable to connect Team Foundation Server from IntelliJ Ultimate"
After providing Server URL, I am unable to login to Team Foundation Server. My credential works fine using IntelliJ Integration Plugin.

Not sure about difference between TFS and TFVC, why these two terminology? Any specific service needs to be switched on TFS server. We have TFS 2015 in premise. Do I need to disable IntelliJ's TFSIntegration plugin?

[2017-09-12 20:17] leantk commented on #102
We do not currently support authenticated proxies with the plugin. I will leave this issue open as an enhancement so the work can be tracked and followed here.

Sorry for the inconvenience,
-Leah

[2017-09-14 10:02] arafeh94 opened #106 "Edit workspace Issue"
I want to change my workspace mapping so I opened from vcs->tfvc->edit workspace
all mapping are empty
and android studio show this error in log :

java.lang.RuntimeException: An argument error occurred: The workspace could not be determined from any argument paths or the current working directory.

	at com.microsoft.alm.plugin.external.commands.Command.throwIfError(Command.java:402)
	at com.micro

[2017-09-14 10:59] arafeh94 commented on #106
![capture](https://user-images.githubusercontent.com/5004409/30426475-deccf03c-9954-11e7-89f1-32c2d6731b1b.PNG)
![capture2](https://user-images.githubusercontent.com/5004409/30426476-def28004-9954-11e7-85e6-a211874c13c5.PNG)

[2017-09-15 20:32] jbonfante commented on #88
👍 Work items should be integrated with IntelliJ's Tasks & Contexts features. It appears someone had done some work on this (a different plugin) a while back, but it no longer works, here's the link: https://plugins.jetbrains.com/plugin/7336-intellij-task-integration-for-microsoft-team-foundation-server

[2017-09-16 02:44] pmoskvin commented on #88
This plugin is not working

[2017-09-19 08:23] elliotleelewis opened #107 "Plugin crashes when logging in to VSTS - WebStorm"
When I click the icon in the corner of my window, then click sign in, the following happens.

1. Microsoft login page appears in which I type in my work email address
2. Page says "redirecting to organization login"
3. At my company, Okta is used for auth, so we're automatically logged into our accounts when we're logged into our machines. So the dialog closes.
4. Error popup comes up in corner of

[2017-09-19 09:44] alexander199217 opened #108 "Adding a work item requires the Git Plugin"
We are using only TFVC but would like to add work items to check ins.
However clicking the add work item button results in the attached error:
![linking work item requires git](https://user-images.githubusercontent.com/32094019/30586278-ba92e24c-9d2f-11e7-846e-611f61f9b6fb.png)

(After installing Git it works, but i would like to avoid that)

[2017-09-25 11:18] julia-vaseva opened #109 "Can not update or uninstall Visual Studio Team Services plugin"
Rider user: "When I open Rider, there is a message that tells me that I could update the plugin "Visual Studio Team Services" from Version 1.122.0 to 1.123.0. When I click on update, Rider does something and then wants to restart. After I restart Rider, the message is still there and wants me to update from 1.122.0 to 1.123.0.
Since I don't need any connection to VS Team Services, I wanted to remo

[2017-09-26 08:06] JohnStov commented on #109
I also see this exact issue. Also, I can't configure the plugin.  I try to point it at tf.exe, but all I get is a message saying "The specified path does not lead to a valid TF executable"

[2017-10-02 08:06] jasperdj opened #110 "Unhandled null pointer exception: getAuthenticationInfoAsync failed: The 'code' argument cannot be null."
The following null pointer exception occurred randomly as an IDE Fatal Error.

[code]

[2017-10-12 08:17] julia-vaseva commented on #109
@leantk Could you please comment on this? Lots of Rider users suffer from this issue.

[2017-10-16 14:34] Arikael commented on #107
same happens here.
We are using ADFS for Auth. also with SSO.

I was able to enter my email address once. after that it just shows empty popups and then crashes.
I even uninstalled and re-installed the plugin but somewhere my previously entered email address is stored.

[2017-10-20 12:26] julia-vaseva opened #111 "TF command line warning message with a link to docs appears only when path is empty"
Unfortunately, this is not helpful because one will hardly press Test button when the path is empty. Therefore one will never see that the plugin needs tf.cmd instead of tf.exe. Lots of users confuse these two.

I would suggest that "The specified path does not lead to a valid TF executable." message is merged with "The TF command line tool must be installed..." message and is shown for both empty

[2017-10-23 18:21] atarikguney commented on #105
This issue happens to me with Jetbrains Rider (the new .NET IDE). We have recently moved to TFS 2017 and I cannot authenticate against it using TFVC. The same crendetials work in VS2017 and Web portal of TFS 2017. I keep getting the following exception:

![image](https://user-images.githubusercontent.com/369188/31905846-ab637980-b7ec-11e7-941b-c8376be388ba.png)

[2017-10-24 15:53] sircrapsalot opened #112 "OAuth 2.0 freezes on login"
When trying to log in to my VSTS the login screen freezes after submitting my user name and password. Usually after entering my username and password I get prompted for a security code. However, this screen never appears.

[2017-10-25 00:39] Gavineil opened #113 "Authentication passed, but can't get repository from TFS!"
2017-10-25 08:33:44,589 [ 398751]   INFO - tion.TfsAuthenticationProvider - starting TfsAuthenticator
2017-10-25 08:33:44,589 [ 398751]   INFO - tion.TfsAuthenticationProvider - Async authentication starting
2017-10-25 08:33:51,645 [ 405807]   INFO - .services.HttpProxyServiceImpl - useHttpProxy: false
2017-10-25 08:33:51,901 [ 406063]  DEBUG - n.telemetry.TfsTelemetryHelper - sendEvent(TfsConnect

[2017-11-01 23:10] JoWerk opened #114 "Unable to access plugin - Authentication error"
TFS:
Microsoft Visual Studio Team Foundation Server
Version 15.117.26714.0

IntelliJ
Ultimate 2017.2.5

Git
2.14.1.windows.1

TFS plugin
1.125

It appears as though I am unable to authenticate to the remote repository.  After upgrading to this version I had troubles connecting to the repository.  I have since tried to reimport my project from TFS and was able to import the project but was unable t

[2017-11-07 18:48] scottieGGGG commented on #114
We are having similar (if not the exact same issue)... TFS 2017 (pre-updates) was working fine with the plug in.. .but went through an upgrade round.. both to TFS 2017.. as well as plug in.  During that, we switched to SSL on TFS.. and since that change... not able to connection to TFS 2017 git repositories within plugin.

TFS alone works well... and even git via command line calls works with repo

[2017-11-08 22:40] kaylangan commented on #109
@JohnStov can you try pointing it to tf.cmd?

[2017-11-09 11:10] sircrapsalot commented on #112
Was able to work around this by following #98

[2017-11-09 11:10] #112 closed

[2017-11-16 14:22] mems commented on #106
I have a same issue, where both "Workspace Properties" and "Configuration Managment" fields are empty: no workspace infos like server, owner, computer and no repository listed

[2017-11-19 20:46] ivmreg opened #115 "Local TFS - "HTTP 401 Unauthorized" when getting history"
Hello,
I am trying to use the TFVC plugin (1.125) for one of JetBrains applications: PyCharm.
TFVC command line utilities (14.123.1) were downloaded from here:
https://github.com/Microsoft/team-explorer-everywhere/releases
I have installed the plugin as well and enabled VCS integration for the project, selecting TFVC.
When I'm trying to view the history of changes (or run any other command) I get

[2017-11-19 21:42] ivmreg commented on #115
Re-doing the process from scratch fixed the issue

[2017-11-19 21:42] #115 closed

[2017-11-19 21:44] ivmreg opened #116 "How to shelve changes on local TFS server"
Hello,

Is it possible through the TFVC plugin to create a shelve on the local TFS server as you would do with Visual Studio?
The "Shelve Changes" option in PyCharm with TFVC integrated only creates a local shelve from what I can tell.

Thank you.

[2017-11-21 08:57] minaaboud opened #117 "IDE Fata Errors / TFVC Plugin."
Hello,

In the past few weeks I'm getting this error every time I open rider IDE for the TFVC Plugin.

<img width="1013" alt="screen shot 2017-11-20 at 11 16 06 am" src="https://user-images.githubusercontent.com/8300058/33063304-c2020768-ceaa-11e7-9248-472bfeaa8699.png">

can you help me fix this ?

RD-172.4144.1459

RD-172.4144.1459, JRE 1.8.0_152-release-915-b11x64 JetBrains s.r.o, OS Mac OS X(x

[2017-11-27 15:56] James-Parsons opened #119 "Plugin crashes when trying to commit"
I've been using the plugin with PHPStorm for the past few month's and it's starting to completely break. Initially, trying to commit my code give's me a vague and useless "unknown error"

![image](https://user-images.githubusercontent.com/4138815/33275749-95b0ce68-d361-11e7-94d7-0a253dab63c4.png)

Later, after trying to commit again, it appeared it had worked (i.e. now errors) and went about my wo

[2017-11-28 11:13] julia-vaseva opened #120 "Cannot create a branch for entire solution (or project) in Rider"
The plugin treats the solution as sln file, not a directory. "Source" input is not editable, therefore I cannot create a branch for entire solution (and project as well).
![2017-11-28_1413](https://user-images.githubusercontent.com/30112159/33316829-55044f6c-d446-11e7-8e84-758146d6a75e.png)

[2017-12-02 06:07] SergejSchmal opened #121 "Don't start tf"
i need tf for Rider 2017

1. i've download the "TEE-CLC-14.123.1.zip", and extract it
2. i've download the "jre1.8.0_151", and install it
3. add tf and jre executable pathes to environment variable
4. set JAVA_HOME variable in enviroment
5. run tf in cmd
6. nothing happend, screen is empty

when i going the same with version TEE-CLC-12.0.2, all work fine. But that version don't match for me, i nee

[2017-12-06 07:32] abhay-infrrd opened #122 "Change detection issue in TFVC plugin for webstorm"
The issue is there is a folder in node_modules > ajv which has files which start with '$' such as '$data.js' or '$data.json' which causes the plugin to crash with error asking the user to remove '$' and try indexing again.
I have added node modules in the ignore list but still it keeps failing for that same reason.
Is there a workaround for this.
I have issues in updating the project as well as ch

[2017-12-07 07:41] dsof opened #123 "Cannot authenticate when TFS server's cert alt-name does not match url"
Using Rider against TFS2015.

A client of mine has its instance of TFS served through https (https://tfsserver.XXXX.it). The certificate used is valid in itself (as in: chain validation is ok), but was issued for a different domain (*.YYYYYY.com, YYYYYY.com).
When I try to login, I get the following error:

[code]

I think I would appreciate a checkbox saying "allow insecure connection", or someth

[2017-12-13 09:48] julia-vaseva opened #124 "Cannot edit a file which is not checked out for editing yet"
Rider user:

Please find more details on Rider tracker: https://youtrack.jetbrains.com/issue/RIDER-8749#comment=27-2502939

[2017-12-13 09:52] julia-vaseva opened #125 "With XML files stored as "UTF without signature" in TFS and in the local file system, Rider shows a difference in the very first line of the XML"
Rider user:

Please find more details on Rider tracker: https://youtrack.jetbrains.com/issue/RIDER-8749#comment=27-2488890

[2017-12-13 09:57] julia-vaseva commented on #120
A tip from Rider developers:

[2017-12-13 10:58] julia-vaseva opened #126 "Use JDK bundled with IntelliJ (Rider) for tf command line tool"
Lots of Rider users don't want to download and install Java on their machine just for tf tools. Why can't it use the JDK bundled with Rider?

[2017-12-13 13:08] gaurangpatel6688 opened #127 "the specified path does not lead to a valid tf executable"
I am getting this "the specified path does not lead to a valid tf executable" error when I am trying to set path for TFVC. The given path has the tf.exe file but still I am getting the error
[idea.log](https://github.com/Microsoft/vso-intellij/files/1555565/idea.log)

[2017-12-15 08:43] baumgarb commented on #120
@julia-vaseva Could you pls explain the tip from the Rider people? I do not understand what I'd have to do to get it working.

[2017-12-18 14:23] xtmq commented on #120
For solution/project node we put a solution/project folder (instead of file) in _VcsDataKeys.VIRTUAL_FILE_STREAM_ constant. You can take it from data context and perform operations on virtual files from this data constant.

[2017-12-29 14:07] pmoskvin commented on #16
@DavidStaheli, how is it going?

[2018-01-09 04:35] jchharris commented on #107
I have the same issue with the plugin in Intellij after it says "redirecting to organisation login". Has anybody found a workaround?

[2018-01-09 13:50] gutzi opened #128 "TFVC don’t show any changes at version control in android studio"
If we change any file in android studio the following error raised and no local changes are shown in the local changes:

Plugin Error: Visual Studio Team Services threw an uncaught ToolParseFailureException

C:/SourceAndroid/Main/PerigonMobile/perigonMobile/src/main/java/ch/root/PerigonMobile/Activity/sssss.java
2018-01-09 14:23:12,144 [ thread 26]   WARN - ea.tfvc.core.TFSChangeProvider - Failed

[2018-01-16 22:52] jwheeler91 opened #129 "No Local Changes in Rider?"
Hi, I've not tried in InteliJ IDEA, but in Rider this plugin isn't finding my changes? Its pulled the repo down, but isn't showing differences so I can check in...

Any ideas?

[2018-01-17 14:27] davidinhong opened #130 "Performing VCS Refresh too slow before checkin"
Sometimes when I try to check-in some file appears the "Performing VCS refresh" window and it remains for a very long time...
Some help please?

[idea.log](https://github.com/Microsoft/vso-intellij/files/1639301/idea.log)

[2018-01-23 19:45] jdraw8 opened #131 "NTLM Authentication for TFVC"
I would strongly advise to consider supporting the NTLM authentication (system credentials) to bypass the username and password prompt while attempting to connect to TFS for the Microsoft Team Services TFVC plugin for IntelliJ IDEA (JetBrains)?

[2018-02-05 19:54] RedaMehali commented on #89
Hi @leantk
I had a similar error where I got prompted with key_credentials_error. This happened using Android Studio and TFVC plugin. I opened a thread on StackOverFlow. Here is the link: https://stackoverflow.com/questions/48568844/commit-failed-with-unknown-error-commiting-changes-to-vs-using-tfvc-plugin

Thanks.

[2018-02-20 18:30] ermeckle opened #132 "Import project fails on collection names with unicode characters"
The collection name doesn't get URL encoded when using the import project feature.  This results in a import failed error with a 400 response.

[2018-03-07 14:26] julia-vaseva commented on #129
Hi, I have just encountered this issue on Mac. For me, the plugin can detect changes only on Windows.  Logs attached.

Plugin version: 1.125.0
JetBrains Rider version: 2017.3.1

[idea_VSTS.log](https://github.com/Microsoft/vso-intellij/files/1789440/idea_VSTS.log)

[2018-03-13 20:25] kaylangan commented on #129
@jwheeler91 are you using TFVC?

[2018-03-19 11:39] vladad commented on #91
Dear @leantk,
are there any new information about server workspaces support for TFS 2015+?

In [IntelliJ TFS Integration plugin](https://plugins.jetbrains.com/plugin/4578-tfs-integration) for exapmle checking out existing files or adding new files works perfectly with TFS 2017, but local changes are not visible in IDE.
I have created new issue [them](https://youtrack.jetbrains.com/issue/IDEA-18849

[2018-03-20 00:50] kaylangan commented on #91
@vladad Unfortunately, we do not have any new information about supporting server workspaces.

[2018-03-22 14:20] julia-vaseva opened #133 "404 error for the documentation on http://java.visualstudio.com/Docs/tools/intelliJ"
The links in 'Learn More' section on github lead to non-existing pages. Could you please point me to where the documentation is at the moment? Especially, where is the how-to for configuring the plugin for TFVC repositories?

Thanks in advance!

[Instructions ](http://java.visualstudio.com/Downloads/intellijplugin/Index) on how to install the plugin
[Documentation and tutorial](http://java.visuals

[2018-03-28 14:56] whoisj commented on #131
@jdraw8 which OS are you suggesting this for? NTLM is easier on certain platforms and more difficult on others. 😐

[2018-03-29 16:30] RachealRileyManda commented on #96
To resolve this:Run
**git clean -n** //this will show you which unversioned files will be deleted
Then run **git clean -fx**to removed ignored and unignored files.
Other alternatives:
git clean -f -X

You should make sure you are deleting files that you are 100% you dont require.

[2018-04-05 20:04] dmitriysmirnovjb commented on #129
Workaround for authentication issue:
1.  Set TF_AUTO_SAVE_CREDENTIALS=1 env variable
2. Run `tf status /[ath/to/the/file -login:user@domain,password` command from the command line
3. Credentials will be cached and tf commands will work when called from IDE

[2018-04-09 06:31] haakoo opened #136 "Link to TF Command line tool not working"
I posted this over at [Riders bug tracking](https://youtrack.jetbrains.com/issue/RIDER-14939) first, but they sent me here.

When trying out Rider a few days ago, I needed to checkout a project from TFS using TFVC. This gave me a helpful popup that told me I needed to install the TF command line tool (se attached image). The message includes a link to https://docs.microsoft.com/en-us/vsts/java/Doc

[2018-04-12 14:03] jdraw8 commented on #131
@whoisj - Windows 10 Enterprise. I wonder how difficult would it be to add the NLTM authentication (system credentials) functionality to TFVC for IntelliJ IDEA (JetBrains)? JetBrains already have its own TFS Integration plugin, BUT it doesn't support utilizing the local workspace that we use. /facepalms

[2018-04-13 16:25] whoisj commented on #131
@jdraw8 I see it being potentially very difficult to "add the NLTM authentication (system credentials) functionality to TFVC for IntelliJ IDEA (JetBrains)" because the underlying networking stack would need to implement this; and honestly I have no idea what stack that is; and I'm fairly certain I have no control over it (selection, changing, or configuration) as the choice is made my JetBrains.

[2018-04-16 06:04] SrivatsaMarichi opened #137 "KEY_TF_EXE_NOT_FOUND"
I am trying to connect to TFS 2018 U1 through android studio 3.1.1 I get the exception "KEY_TF_EXE_NOT_FOUND". I have installed TFX cli tools for the same. Can you help here?

[2018-04-16 06:05] SrivatsaMarichi commented on #136
I am facing the same issue in android studio 3.1.1 while connecting to TFS 2018 U1.

[2018-04-16 15:57] #137 closed

[2018-04-17 05:32] SrivatsaMarichi opened #138 "Unable to connect to VSTS TFVC"
Using Android Studio 3.1.1, VSTS Plugin (latest)

![1](https://user-images.githubusercontent.com/13433045/38850365-b6260988-422e-11e8-8c6f-bbd9877cb295.png)

[2018-04-17 05:35] SrivatsaMarichi commented on #130
I too have the same issue. It doesn't allow me to checkin. PFA logs for the same.

[as_error.txt](https://github.com/Microsoft/vso-intellij/files/1918220/as_error.txt)

[2018-04-17 05:37] SrivatsaMarichi commented on #127
@gaurangpatel6688 refer [here](https://github.com/Microsoft/vso-intellij/issues/136) for the solution which I faced too.

[2018-04-25 10:50] mcetkovsky opened #139 "HTTP 302 Found while loading issues for Select Work Items window"
I occasionally get an error when I want to select work items to be included in a commit by clicking on Select Work Items button in the Commit Changes dialog.

Team Services Error
API resource location [guid] not registered on [VSTS account uri]. HTTP 302 Found

I have no idea what is wrong, nor how to fix it. I have tried to log in using VCS - Checkout from Version Control - Team Services Git and

[2018-05-08 02:31] thecesrom opened #140 "Unable to 'Show History' - Problems while loading file history: HTTP 401 Unauthorized"
Plugin version: 1.134.0
TEE-CLC: 14.134.0
OS: Windows 10 and macOS
IDE: Pycharm 2018.1.2

I am able to connect to VSTS and create a local workspace.  Hosted at https://{mycompany}.visualstudio.com, but whenever I add the VSTS project as a dependency on another project, all TFVC functionality ceases to work.

Under **Settings > Version Control** the VSTS project appears correctly, but when I try to

[2018-05-15 02:36] humphrycc opened #141 "Url in README.md is dead"
Below url is 404 now, please update current doc url.

http://java.visualstudio.com/Docs/tools/intelliJ

May be https://docs.microsoft.com/en-us/vsts/java/download-intellij-plug-in?view=vsts?

[2018-05-17 08:53] Macadoshis opened #142 "Last build status doesn't work since last update of JetBrains PhpStorm"
Hello,

Last build status doesn't work since last update of PhpStorm :
[code]

![image](https://user-images.githubusercontent.com/2878861/40167036-43edc0d2-59c0-11e8-9ea1-a18417f72d5c.png)

[code]

[2018-05-17 17:04] julia-vaseva opened #143 "TFS check-in fails with unclear error"
It's a bug report originally posted to JetBrains Rider issue tracker ([RIDER-15059](https://youtrack.jetbrains.com/issue/RIDER-15059)). I'm duplicating it here, because the stacktrace is all plugin's.

[scratch (1).log](https://github.com/Microsoft/vso-intellij/files/2014105/scratch.1.log)
![image](https://user-images.githubusercontent.com/30112159/40192465-27237774-5a0d-11e8-91ef-539dd9e9ff9a.png

[2018-05-17 20:18] karolis-k commented on #143
I will try to provide more info, if you need and I'm able to do that.

[2018-05-23 13:31] #141 closed

[2018-05-23 14:36] EricTheRed-VT commented on #122
I'm having this issue as well, I've deleted everything in my node_modules folder and it's still crashing.

[2018-05-24 12:15] mkruczkowski opened #145 "Selecting branches during creation pull request or adding new branch in Android Studio"
During creation new pull request from Android Studio target branch is set to master by default while the totally different branch is set to default in VSTS.
During creation from browser default branch is selected by default.

The same we can see while creating a new branch for the work item in Android Studio.

Could you change this, please?

[2018-05-29 06:56] incode4it opened #146 "WebStorm does not detected changes"
I succeful installed and configured VSTS plugin with TF source control and pulled the repo, when I change a file, it turn blue like the documentation says it should, and if I right click on the file and go to:
    TFS > Compare With The Same Repository Version
It correctly shows all the differences. However, when I try to check in the file, I will always get a alert box saying "No changes detected

[2018-06-09 10:07] tkralj opened #147 "Cannot sign-in to Team Services"
When I try to import project into Team Services Git i Have to Sign In. When i click on "Sign In" link all i get is blank Oauth request screen and i cannot enter my username and password.

[2018-06-21 09:20] dmimat commented on #97
@leantk @julia-vaseva That's true, currently there is no way to use custom URLs in the plugins' context help. Here is the issue: https://youtrack.jetbrains.com/issue/IDEA-166122. Please feel free to watch and upvote.

[2018-06-22 07:33] dmimat commented on #97
@leantk, some good news. Turns out that it is possible to add custom URLs for plugins' context help by implementing `com.intellij.openapi.help.WebHelpProvider` in the plugin's code.

[2018-06-22 12:12] mfilippov commented on #147
@tkralj Which version of IDE are you use?

[2018-07-02 01:42] criminalistJong opened #156 "Cannot config tfvc setting"
I use Rider
and set TF executable path to Tool path("TEE-CLC-XX\tf") and click test
but occurred error As follows
how to resolve this problem
---------------------
Picked up JAVA_TOOL_OPTIONS: -Djava.net.preferIPv4Stack=true
Picked up _JAVA_OPTIONS: -Xmx1024M

java.lang.RuntimeException: Picked up JAVA_TOOL_OPTIONS: -Djava.net.preferIPv4Stack=true
Picked up _JAVA_OPTIONS: -Xmx1024M

	at com.micros

[2018-07-05 13:41] mfilippov commented on #147
I saw same issues when IDE used not bundled JDK.

[2018-07-06 12:58] mfilippov commented on #136
@jeschu1 Fixed in #136

[2018-07-06 12:59] mfilippov commented on #126
@jeschu1 Fixed in #126

[2018-07-10 13:06] kottalovag commented on #147
Me too. I use PyCharm 2017.3.3 Community Edition.
An empty white window with the title OAuth 2.0 Authorization Request.
Actions which reproduce this: sign in or pull/push existing repo.

Funny thing, I am able to pull/push the repo using the Terminal inside PyCharm.
I also tried tampering with the proxy settings - to no avail.
OS: Win10 customized (restricted) by company.

[2018-07-13 07:14] TheConstructor commented on #140
Got the same from within DataGrip 2018.2 EAP
Build #DB-182.3684.15, built on July 12, 2018
DataGrip EAP User
Expiration date: August 11, 2018
JRE: 1.8.0_152-release-1248-b8 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 7 6.1

I have 3 directories attached, which are located in 2 different workspaces of the same TFS-TFVC repository. Updating folders seems to work, but showing histo

[2018-07-25 18:39] bbakermmc commented on #88
Any movement on this?

[2018-07-29 05:53] xsoheilalizadeh opened #158 "Get AuthenticationInfo failed exception"
## Rider IDE info:
[code]

## Plugin Info:
[code]

## Exception:
[code]

## Explain
When I've tried to login in my TFS account I enter the correct information ( email && password ). also i receive "token added mail".

![applicationframehost_2018-07-29_10-06-03](https://user-images.githubusercontent.com/22220356/43363303-1ed07926-9317-11e8-9d0c-79a3ff32ccc0.png)

## Logs
[idea.log](https://github.c

[2018-08-03 16:46] whoisj commented on #156
@mfilippov I believe I'm seeing this too, with both latest and the builds from master.

![image](https://user-images.githubusercontent.com/11578325/43654988-35215788-971b-11e8-9ba1-3d5514cbec31.png)

Any suggestions?

[2018-08-03 17:04] mfilippov commented on #156
@whoisj I started an investigation of the problem.

[2018-08-03 17:55] mfilippov commented on #156
Fixed in PR #163

[2018-08-06 14:18] JoelDewey commented on #105
I had a similar issue with my organization's on-premise TFS. I noticed that I had a SSLHandshakeException/ValidatorException appear in my Rider logs right after my TFS authentication attempts. The error complained that the PKIX path failed to build.

Some digging revealed an [Upsource help document describing the exact same issue](https://upsource-support.jetbrains.com/hc/en-us/articles/206545609-

[2018-08-06 19:39] whoisj commented on #156
This issue has been resolved, and an updated (fixed) plug-in published.

[2018-08-06 19:39] #156 closed

[2018-08-06 19:50] whoisj commented on #158
I get a similar issue if TF.exe is unable to complete its checkout operation. Did you correctly set the parent and workspace directory when you attempted to create the workspace?

[2018-08-06 19:51] whoisj commented on #147
@tkralj @kottalovag can you use a tool like Fiddler to capture the HTTP traffic? This will help us look what is actually happening.

[2018-08-07 05:15] tkralj commented on #147
I had more than one Java version installed and that may confused IDE. I uninstalled all Java versions and JDKs and reinstall only last version. After that everything started to work. Thanks all for help!

[2018-08-07 05:15] #147 closed

[2018-08-07 12:16] SteveSartain commented on #130
I have the same issue. I think it's because you can only create LOCAL workspaces and not SERVER ones. For large solutions, even in Visual Studio, it is recommended to use server workspaces.  This is a feature that is actually preventing us from adopting Rider

[2018-08-13 13:52] noenm opened #167 "Vsts plugin fail : (select work items other than myself) (intellij)"
IN intellij in the work item tab I used my own query "work items" but when I  select a commit with a work item it shows only PBI from the assigned to me query and not something else.

<img width="824" alt="workitems" src="https://user-images.githubusercontent.com/42347313/44035878-c906e060-9f10-11e8-9b6b-7c8acd6a884e.PNG">
<img width="661" alt="selectworkitems" src="https://user-images.githubuserc

[2018-08-17 16:58] Gruwa commented on #98
HI, i have same error

![image](https://user-images.githubusercontent.com/22069739/44278469-b9080d80-a256-11e8-8f98-be154eeea386.png)

![image](https://user-images.githubusercontent.com/22069739/44278362-70e8eb00-a256-11e8-9eed-f28aa1450697.png)

![image](https://user-images.githubusercontent.com/22069739/44278720-a3471800-a257-11e8-80d1-57d4a968e963.png)

`com.microsoft.alm.plugin.external.except

[2018-08-21 19:55] dillius commented on #130
This is a massive problem.

I have gone through the troubleshooting steps of ensuring there aren't very many unversioned files (have 18) but honestly this plugin is almost completely unusable with a decently sized project.

I find myself actually working in Rider (which crashes far less than VS) and having to switch to VS for commits and merges (merges still take forever but at least the refreshes

[2018-08-23 20:42] dillius opened #173 "Unable to determine the workspace. - Error after update to Rider 2018.2"
Can no longer retrieve latest from TFS after updating Rider to 2018.2. Worked fine prior, during the same day. On latest 1.1.150 version of the plugin. Not sure if the VSO plugin needs an update or if this is a bug caused by Jetbrains.

Log details show:

[code]

[2018-09-10 14:46] dillius commented on #173
It seems with the size of the repository I am dealing with the java process started up to try to take care of this gets stuck in some infinite loop; at this point I have simply had to disable the plugin entirely for Rider to be usable again.

[2018-09-18 07:58] noenm commented on #167
I found the  a partial solution use a # with number of the work item to select the work item.

[2018-09-19 21:17] fdimauro commented on #130
Yes the wait time is ridiculous. I am reverting back to the command line to do my commits. What the heck is Intellij doing for so long?

[2018-09-20 07:19] SrivatsaMarichi opened #175 "Unable to connect to TFS 2018 Update 2 from Android Studio"
I am trying to connect to TFS 2018 Update 2 from Android Studio and I am facing the below error.

**Unable to authenticate to Team Foundation Server 'http://TFS_URL'. Verify access to the server URL and try Connect again**

PFA log for the same.

[idea.log](https://github.com/Microsoft/azure-devops-intellij/files/2400112/idea.log)

**Plugin Version**
1.150.0 and was downloaded from [here](http://p

[2018-09-25 04:43] SrivatsaMarichi commented on #175
Guys, any updates here?

[2018-10-14 15:35] 24mu13 commented on #158
Still the same on 1.150.0

[2018-10-15 12:18] reinseth opened #176 "Handle repos using ssh protocol"
The VSTS plugin works fine when the remote url of the git repo is cloned over `https`, but it fails to recognise the repo when cloned over `ssh` and instead prompts to import the repo to VSTS.

Is it possible for the plugin to support ssh?

[2018-10-16 16:04] Spidermain50 commented on #175
I am having the same issue as well.

[2018-10-19 15:50] fmonts commented on #158
Same issue here.
The first git pull worked, now when I try to push, fetch or whatever, I'm asked to login to my Microsoft account. I insert email, password, confirm 2FA on my phone... and then it asks to login again in a loop.

[2018-10-20 14:50] timedata commented on #158
İ have face with this loop (oauth2 asking email and pass again and again) after update ubuntu 18.04 to 18.10

[2018-10-24 17:05] sideez commented on #158
Having the same issue here. Keep getting prompted to sign in.

[2018-11-02 20:47] Spidermain50 commented on #175
@SrivatsaMarichi It ended up being a network issue in my case. Our firewall settings were too strict on Android Studio causing it not to be able to connect to our on premise TFS. I hope that helps you.

[2018-11-04 03:37] joshuataylor commented on #158
Same issue here on Ubuntu 18.10.

[2018-11-04 13:45] HaGGi13 commented on #158
I have exactly the same issue with IntelliJ 2018.2.5, Ubuntu 18.10 and VSTS:

1. open IntelliJ
2. Click "Team Services Git"
3. A login box comes up, click sign in, type in email, password and then confirm 2FA with Token on VSTS web site
4. A list of all my repos comes up, so I choose the repository, and click clone.
5. IntelliJ tries to clone the repo
6. after some seconds 2FA pop up is displayed

[2018-11-09 08:20] christianhujer commented on #88
Any update on this?

[2018-11-12 14:47] Spidermain50 opened #177 "Credential Update Severs Workspace Connection"
I updated my Windows Auth password which is how I am authenticated to our on-prem TFS. Now I get the following error anytime I try to interact with the Intelliij plugin...

Error:API resource location ba9fc436-9a38-4578-89d6-e4f3241f5040 is not registered on *_**tfs path**_*. HTTP 401 Unauthorized

I have no idea how to reconnect my workspace via the plugin to TFS.

Any suggestions?

[2018-11-13 15:10] ericvanwijk opened #178 "Prompted for new OAuth dialog, after already login in"
I try to clone MyShuttle2 as per description here:
https://azuredevopslabs.com/labs/java/intellijgit/

I can successfully log in to my Azure DevOps accounts to browse projects. However, when I try to clone, I get prompted for credentials again, and again after entering the correct ones. I tried two Azure DevOps accounts (a work and school account, and a Microsoft account).

[2018-11-15 20:31] MDindar opened #179 "Visual studio team service plugin authentication problem in Intellij"
I've installed Lates version of IntelliJ 2018.2.6 and  Git-2.19.1-64-bit and Visual Studio team Service plugin version 1.15.0  installed on my windows 10.
Whenever I try to import my project to AzureDevOps repository it  prompts and asks me to enter my credential and although it successfully log in, again it asks me to enter my credentials again constantly.
When I check my account in AzureDevOps I

[2018-11-22 20:15] MDindar commented on #179
For those who have the same problem. I tried 1.134.0 version and there is no such that problem.

[2018-11-23 16:53] bpaczkowski commented on #179
Same issue, on 1.134.0 as well.

[2018-11-28 07:58] kodmis commented on #179
The same issue
I've installed version of IntelliJ 2018.1 and Git-2.15.1 and Visual Studio team Service plugin version 1.15.0 installed on my windows 10.